In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("BNCollegeCourses_2022-02-05.csv", encoding="Utf-8", low_memory=False)

In [3]:
pd.set_option('display.max_rows', 500)

In [4]:
num_unis = df.university.nunique()

In [5]:
df.term.value_counts().to_frame()

                        term
Spring 2022           202730
SPRING 2022            84563
Fall 2021              44122
FALL 2021              23048
Fall 21                16957
Winter - 2022          12627
Spring '22             12451
Winter 2022            11168
Spring - 2022          10979
Fall 2022              10771
Fall Semester 2021      9352
PANTHER BOOK PACK       9194
Spring 2022 Opt Out     8846
Spring Semest. 2022     8631
FALL 2022               8533
Summer 2022             6442
SUMMER 2022             4863
Spring '22 Pullman      4739
Spring '22 Oncampus     4711
Spring Term 2022        4379
Spring 22 Bkt bndle     4095
Spring 2022 Res.        4039
SPRING 22               3842
ALL SUMMER TERMS        3793
Spring 22               3328
Medical School 2021     2575
Spring/Summer 2022      2356
Winter Quarter 2022     1468
Fall Quarter 2021       1271
UCF Spring 2022         1114
22SPDAY 1/3-4/24        1073
WINTER 2022             1052
SPRING 22 TERM 3         839
Spring '22 Global        716
SPRING 22 TERM 4         712
WSU Spring 2022          625
Fall 21 Supplement       443
21FALLS                  439
Spring 22 Supplement     416
21SPRGS                  410
Winter Intersession      381
SUMMER 22 TERM 5         337
VC Spring 2022           317
Spring22                 286
22DY03 (01/03-02/27      248
Professional 21/22       242
Law Spring - 2022        223
Sec Spring Term 22       220
Winter 2021              220
First Spring 22          188
WINTER 22                179
1st Spring Mod 2022      162
Winter '22               162
Spring '22 Everett       151
Spring 1 '22 Online      129
2nd Spring Mod 2022      124
Winter Session 21-2       96
SPRING 2022 SEMESTE       90
Spring Term 3             81
Spring Term 4             71
Winter Session 22         70
Spring Full Term 22       60
summer 2022               38
Maymester 2022            36
Troy PC Spring T-3        35
22DY04 (2/28-4/24)        32
Troy PC Spring T-4        28
Winter '22 SFCC           22
Self-Paced Courses        22
21FALL2                   16
High School               14
Troy PC Spring 2022       14
21FALL1                   13
SUMMER 22 SEMESTER        10
Late summer                8
21SPRG1                    8
FALL 22 TERM 1             2
Paralegal Spring 22        1
FALL 22 SEMESTER           1

In [6]:
df["term"] = df["term"].str.upper()

In [7]:
df = df.loc[ (df["term"]=="SPRING 2022")    ,:   ]

In [8]:
df = df[["university", "department", "course_id"]]

In [9]:
courses_df = df.copy()

In [10]:
courses_df

                                university department  course_id
0                    Ball State University        ACC        200
1                    Ball State University        ACC        201
2                    Ball State University        ACC        201
3                    Ball State University        ACC        201
4                    Ball State University        ACC        201
...                                    ...        ...        ...
538011  Univ of North Carolina Chapel Hill       PLCY  106762678
538012  Univ of North Carolina Chapel Hill       PLCY  106762678
538013  Univ of North Carolina Chapel Hill       PLCY  106762678
538014  Univ of North Carolina Chapel Hill       PLCY  106762680
538015  Univ of North Carolina Chapel Hill       PLCY  106762683

[287293 rows x 3 columns]

In [11]:
courses_df = courses_df.drop_duplicates()

In [12]:
courses_df.dropna(axis=0).reset_index(drop=True)

                                university department  course_id
0                    Ball State University        ACC        200
1                    Ball State University        ACC        201
2                    Ball State University        ACC        202
3                    Ball State University        ACC       299X
4                    Ball State University        ACC        301
...                                    ...        ...        ...
103711  Univ of North Carolina Chapel Hill       PLCY  106762676
103712  Univ of North Carolina Chapel Hill       PLCY  106762677
103713  Univ of North Carolina Chapel Hill       PLCY  106762678
103714  Univ of North Carolina Chapel Hill       PLCY  106762680
103715  Univ of North Carolina Chapel Hill       PLCY  106762683

[103716 rows x 3 columns]

In [13]:
courses_df

                                university department  course_id
0                    Ball State University        ACC        200
1                    Ball State University        ACC        201
13                   Ball State University        ACC        202
27                   Ball State University        ACC       299X
29                   Ball State University        ACC        301
...                                    ...        ...        ...
537998  Univ of North Carolina Chapel Hill       PLCY  106762676
537999  Univ of North Carolina Chapel Hill       PLCY  106762677
538001  Univ of North Carolina Chapel Hill       PLCY  106762678
538014  Univ of North Carolina Chapel Hill       PLCY  106762680
538015  Univ of North Carolina Chapel Hill       PLCY  106762683

[103716 rows x 3 columns]

In [14]:
courses_df.to_csv("courses.csv", encoding="utf-8")

# courses.csv 5 MB

In [15]:
df = pd.read_csv("BNTextbook_2022-02-05.csv", encoding="utf-8", low_memory=False)

In [16]:
df["ISBN"].nunique()

59232

In [17]:
df = df[["title", "edition", "publisher", "ISBN", "price", "book_type", "recommend_type", "book_url", "course_id"]]

In [18]:
df = df.drop_duplicates(subset="ISBN", keep="first")

In [19]:
df = df.dropna(axis=0).reset_index(drop=True)

In [20]:
df

,title,edition,publisher,ISBN,price,book_type,recommend_type,book_url,course_id
0,Cengage Unlimited - Access (1 Semester),18,CENGAGE U,9.780358e+12,$119.99,Digital Purchase,eBook Option,https://bsu.bncollege.com/c/Cengage-Unlimited-...,200
1,Financial Accounting: Information for Decision...,10TH 21,MCG CUSTOM,9.781264e+12,$107.90,New Print,REQUIRED,https://bsu.bncollege.com/c/Financial-Accounti...,201
2,Managerial Accounting (Looseleaf) (Custom Pack...,17TH 21,MCG CUSTOM,9.781264e+12,$107.90,New Print,REQUIRED,https://bsu.bncollege.com/c/Managerial-Account...,202
3,MANAGERIAL ACCOUNTING TEXT ONLY CUSTOM,17TH 21,MCG,2.818440e+12,$82.00,New Print,REQUIRED,https://bsu.bncollege.com/c/MANAGERIAL-ACCOUNT...,202
4,Managerial Accounting,17TH 21,MCG COURSE,9.781261e+12,$93.75,Digital Purchase,eBook Option,https://bsu.bncollege.com/c/Managerial-Account...,202
...,...,...,...,...,...,...,...,...,...
56591,BIOL 205 CELL BIO DIGITAL DELIVERY,20,NORTON,9.780393e+12,$71.40,BUY NEW,REQUIRED,https://unc.bncollege.com/shop/BNCB_TextbookDe...,106762855
56592,ESSENTIAL CELL BIOLOGY (LL) >CUSTOM<,5TH 19,NORTON,9.780393e+12,$36.00,BUY NEW,RECOMMENDED,https://unc.bncollege.com/shop/BNCB_TextbookDe...,106762855
56593,BIOL 252 A&P DIGITAL DELIVERY,2E,PEARSON,2.818440e+12,$67.18,BUY NEW,REQUIRED,https://unc.bncollege.com/shop/BNCB_TextbookDe...,106762858
56594,HUMAN ANATOMY+PHYSIOLOGY (LOOSELEAF),2ND 19,PEARSON,9.780135e+12,$48.00,BUY NEW,RECOMMENDED,https://unc.bncollege.com/shop/unc/textbook/hu...,106762858
56595,BIOL 252 LAB PRINTED ACCESS CODE,W21,VAN-GRINER,9.781646e+12,$45.60,BUY NEW,REQUIRED,https://unc.bncollege.com/shop/BNCB_TextbookDe...,106762860

In [21]:
textbook_df = df.copy()

In [22]:
df.to_csv("textbook.csv", encoding="utf-8")

# textbook.csv 15 MB

In [30]:
combo_df = textbook_df.merge(courses_df, how="inner", on="course_id")

In [31]:
combo_df

,title,edition,publisher,ISBN,price,book_type,recommend_type,book_url,course_id,university,department
0,Cengage Unlimited - Access (1 Semester),18,CENGAGE U,9.780358e+12,$119.99,Digital Purchase,eBook Option,https://bsu.bncollege.com/c/Cengage-Unlimited-...,200,Ball State University,ACC
1,Cengage Unlimited - Access (1 Semester),18,CENGAGE U,9.780358e+12,$119.99,Digital Purchase,eBook Option,https://bsu.bncollege.com/c/Cengage-Unlimited-...,200,Ball State University,ADS
2,Cengage Unlimited - Access (1 Semester),18,CENGAGE U,9.780358e+12,$119.99,Digital Purchase,eBook Option,https://bsu.bncollege.com/c/Cengage-Unlimited-...,200,Ball State University,AFAM
3,Cengage Unlimited - Access (1 Semester),18,CENGAGE U,9.780358e+12,$119.99,Digital Purchase,eBook Option,https://bsu.bncollege.com/c/Cengage-Unlimited-...,200,Ball State University,ART
4,Cengage Unlimited - Access (1 Semester),18,CENGAGE U,9.780358e+12,$119.99,Digital Purchase,eBook Option,https://bsu.bncollege.com/c/Cengage-Unlimited-...,200,Ball State University,CAP
...,...,...,...,...,...,...,...,...,...,...,...
4515406,BIOL 205 CELL BIO DIGITAL DELIVERY,20,NORTON,9.780393e+12,$71.40,BUY NEW,REQUIRED,https://unc.bncollege.com/shop/BNCB_TextbookDe...,106762855,Univ of North Carolina Chapel Hill,BIOL
4515407,ESSENTIAL CELL BIOLOGY (LL) >CUSTOM<,5TH 19,NORTON,9.780393e+12,$36.00,BUY NEW,RECOMMENDED,https://unc.bncollege.com/shop/BNCB_TextbookDe...,106762855,Univ of North Carolina Chapel Hill,BIOL
4515408,BIOL 252 A&P DIGITAL DELIVERY,2E,PEARSON,2.818440e+12,$67.18,BUY NEW,REQUIRED,https://unc.bncollege.com/shop/BNCB_TextbookDe...,106762858,Univ of North Carolina Chapel Hill,BIOL
4515409,HUMAN ANATOMY+PHYSIOLOGY (LOOSELEAF),2ND 19,PEARSON,9.780135e+12,$48.00,BUY NEW,RECOMMENDED,https://unc.bncollege.com/shop/unc/textbook/hu...,106762858,Univ of North Carolina Chapel Hill,BIOL
4515410,BIOL 252 LAB PRINTED ACCESS CODE,W21,VAN-GRINER,9.781646e+12,$45.60,BUY NEW,REQUIRED,https://unc.bncollege.com/shop/BNCB_TextbookDe...,106762860,Univ of North Carolina Chapel Hill,BIOL

In [36]:
combo_df["ISBN"].nunique()

52192

In [39]:
combo_df["ISBN"].value_counts()

9.780738e+12    489
9.781483e+12    489
9.781937e+12    489
9.781614e+12    489
9.781450e+12    489
               ...
9.780804e+12      1
9.781787e+12      1
9.780206e+12      1
9.781261e+12      1
9.781646e+12      1
Name: ISBN, Length: 52192, dtype: int64