In [ ]:
import pandas as pd
import numpy as np

### Import CSV into a DataFrame(s)

In [ ]:
filepath_courses = "Resources/courses.csv"
filepath_textbooks = "Resources/textbooks.csv"

In [ ]:
course_df = pd.read_csv(filepath_courses, encoding="utf-8", low_memory=False)
textbooks_df = pd.read_csv(filepath_textbooks, encoding="utf-8", low_memory=False)

### Merge the two DataFrame(s)

In [ ]:
merge_df = pd.merge(course_df, textbooks_df, on=["department_id", "course_id"])

In [ ]:
merge_df = merge_df[["university", "term", "department", "course", "title", "isbn", "price"]].drop_duplicates()

In [ ]:
merge_df

### Create database connection

In [ ]:
protocol = 'postgresql'
host = 'localhost'
database_name = 'postgres_db'
rds_connection_string = f'{protocol}://{user}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)

In [ ]:
# Confirm tables
inspector = inspect(engine)
inspector.get_table_names()

### Load DataFrame(s) into database

In [ ]:
db.to_sql(name='books', con=engine, if_exists='append', index=True)