In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_rows', 500)

FUNCTIONS

In [3]:
def basic_clean(a_df):
    '''Performs initial cleaning of df '''
    
    a_df = a_df.drop_duplicates(keep="first")
    
    return a_df

In [4]:
def all_caps(a_df, a_list):
    '''Renders string df columns in supplied list in all caps'''
    
    for col in a_list:
        a_df[col] = a_df[col].str.upper()
        
    return a_df

In [5]:
def vc(a_ser):
    '''Return value_counts().to_frame() for a pandas series'''
    
    return a_ser.value_counts().to_frame()

COURSES

In [6]:
filepath1 = "../../BILL_PROJ2_FILES/BNCollegeCourses_2022-02-05.csv"

In [7]:
df1 = basic_clean(pd.read_csv(filepath1, encoding="Utf-8", low_memory=False))

In [9]:
df1.sample(50)

,university,store_id,catalog_id,campus,campus_id,term,term_id,department,department_id,course,course_id,section,section_id,scanDate
169903,Penn State University Park,NaN,NaN,Penn State University Park,435,Spring 2022,435_1_22_W,PHYS,435_1_760,214,214,006L,006L,2022-02-05 09:46:58
218936,Temple University,NaN,NaN,Temple University Main Campus,693,Spring 2022,693_1_22_W,MUED,693_1_308,3689,3689,002,002,2022-02-05 09:46:58
134392,Kent State University Kent Campus,10585.0,NaN,"Kent, Geauga, Twinsburg & Podiatric Campus",8152,FALL 2021,8152_1_21_F,GEOG,8152_1_360,17063,17063,480,480,2022-02-05 09:46:58
460470,University of North Carolina at Charlotte,9731.0,NaN,University of North Carolina at Charlotte Offi...,276,Spring 2022,276_1_22_W,WRDS,276_1_988,1104,1104,012,012,2022-02-05 09:46:58
320088,University of Maryland College Park,NaN,NaN,University of Maryland College Park Official B...,370,WINTER 2022,370_370_22_I,ENGL,370_370_255,699,699,0189,0189,2022-02-05 09:46:58
83314,Liberty University,NaN,NaN,Liberty University Official Bookstore,330,Spring 2022 Res.,330_1_22_W,MUSC,330_1_420,498,498,031,031,2022-02-05 09:46:58
413148,University of North Texas,NaN,NaN,University of North Texas Official Bookstore,8085,SPRING 2022,8085_1_22_W,EDCI,8085_1_325,6950,6950,706(7153),706(7153),2022-02-05 09:46:58
401780,George Mason University,NaN,NaN,Fairfax/Sci Tech Campus,366,Spring 2022,366_366_22_W,EDLE,366_366_380,690,690,DL1,DL1,2022-02-05 09:46:58
17676,Boston University,9302.0,NaN,Barnes & Noble @ Boston University Official Bo...,480,Spring '22 Oncampus,480_1_22_W,QST BA,480_1_921,865,865,A1,A1,2022-02-05 09:46:58
437919,West Virginia University at Morgantown,9790.0,NaN,West Virginia University Official Bookstore,583,SPRING 2022,583_583_22_W,ULIB,583_583_642,101,101,705,705,2022-02-05 09:46:58
62353,Indiana University Bloomington,NaN,NaN,Indiana University Bloomington Official Bookstore,632,Spring 2022,632_632_22_W,ENGR-E,632_632_836,687,687,8485,8485,2022-02-05 09:46:58
312880,University of Maryland College Park,NaN,NaN,University of Maryland College Park Official B...,370,SPRING 2022,370_370_22_W,BMGT,370_370_83,441,441,0201,0201,2022-02-05 09:46:58
303620,University of Maryland College Park,NaN,NaN,University of Maryland College Park Official B...,370,FALL 2021,370_370_21_F,BSCI,370_370_84,201,201,0102,0102,2022-02-05 09:46:58
316821,University of Maryland College Park,NaN,NaN,University of Maryland College Park Official B...,370,SPRING 2022,370_370_22_W,HIST,370_370_370,408Q,408Q,0101,0101,2022-02-05 09:46:58
14516,Boston University,9302.0,NaN,Barnes & Noble @ Boston University Official Bo...,480,Spring '22 Oncampus,480_1_22_W,CAS HI,480_1_70,381,381,A1,A1,2022-02-05 09:46:58
371165,University of South Carolina,NaN,NaN,University of South Carolina Official Bookstore,240,SPRING 2022,240_1_22_W,LATN,240_1_480,508,508,001,001,2022-02-05 09:46:58
36306,Illinois State University,9446.0,NaN,Illinois State University Official Bookstore,246,Spring 2022,246_1_22_W,BSC,246_1_25,287,287,060,060,2022-02-05 09:46:58
320915,UNLV Bookstore,9736.0,NaN,University of Nevada Las Vegas Official Bookstore,774,SPRING 2022,774_1_22_W,ART,774_1_44,135,135,1003,1003,2022-02-05 09:46:58
412063,University of North Texas,NaN,NaN,University of North Texas Official Bookstore,8085,SPRING 2022,8085_1_22_W,CJUS,8085_1_210,5950,5950,008(8593),008(8593),2022-02-05 09:46:58
120866,Northeastern University,9543.0,NaN,Northeastern University Official Bookstore,656,Spring Semest. 2022,656_1_22_W,INFO,656_1_483,5101,5101,32952,32952,2022-02-05 09:46:58
502237,Univ of North Carolina Chapel Hill,88196.0,10001.0,NaN,75156912,Spring 2022,106477925,LAW,106757616,399,106763426,056,106742230,2022-02-05 09:46:58
67387,Indiana University Bloomington,NaN,NaN,Indiana University Bloomington Official Bookstore,632,Spring 2022,632_632_22_W,MUS-Z,632_632_305,710,710,3208,3208,2022-02-05 09:46:58
338116,UPenn,9740.0,NaN,University of Pennsylvania Official Bookstore,314,Fall 2021,314_1_21_F,DSGN,314_1_59,520,520,401,401,2022-02-05 09:46:58
123415,Northeastern University,9543.0,NaN,Northeastern University Official Bookstore,656,Spring Semest. 2022,656_1_22_W,PHYS,656_1_802,1172,1172,38772,38772,2022-02-05 09:46:58
310001,University of Maryland College Park,NaN,NaN,University of Maryland College Park Official B...,370,FALL 2021,370_370_21_F,MUSP,370_370_510,102T,102T,0802,0802,2022-02-05 09:46:58
357769,UPenn,9740.0,NaN,University of Pennsylvania Official Bookstore,314,Spring 2022,314_1_22_W,SWRK,314_1_840,629,629,301,301,2022-02-05 09:46:58
212687,Temple University,NaN,NaN,Temple University Center City Campus,697,Spring 2022,697_697_22_W,EMGT,697_697_237,9995,9995,001,001,2022-02-05 09:46:58
40970,Illinois State University,9446.0,NaN,Illinois State University Official Bookstore,246,Spring 2022,246_1_22_W,TCH,246_1_198,499,499,001,001,2022-02-05 09:46:58
425811,University of North Texas,NaN,NaN,University of North Texas Official Bookstore,8085,ALL SUMMER TERMS,8085_1_22_A,MUED,8085_1_590,1130,1130,001(3890),001(3890),2022-02-05 09:46:58
7254,Ball State University,9301.0,NaN,Ball State University Official Bookstore,334,SPRING 2022,334_1_22_W,THEA,334_1_946,271,271,2,2,2022-02-05 09:46:58
128239,Oakland University,9559.0,NaN,Barnes & Noble @ Oakland University Official B...,244,Winter 2022,244_1_22_W,MGT,244_1_500,5350,5350,14633,14633,2022-02-05 09:46:58
33196,Illinois State University,9446.0,NaN,Illinois State University Official Bookstore,246,Fall 2021,246_1_21_F,KNR,246_1_125,383,383,004,004,2022-02-05 09:46:58
168086,Penn State University Park,NaN,NaN,Penn State University Park,435,Spring 2022,435_1_22_W,MCIBS,435_1_694,601,601,045,045,2022-02-05 09:46:58
190935,San Jose State University,9660.0,NaN,San jose State University Spartan Bookstore,8011,SPRING 2022,8011_1_22_W,METR,8011_1_435,112,112,81,81,2022-02-05 09:46:58
182390,Rutgers University,NaN,NaN,Barnes & Noble at Rutgers University Newark Ca...,409,Spring 22,409_1_22_W,112,409_1_165,710,710,15,15,2022-02-05 09:46:58
211501,Temple University,NaN,NaN,Barnes & Noble @ Temple University Law School,353,Fall 2021,353_1_21_F,JUDO,353_1_10,P580,P580,021,021,2022-02-05 09:46:58
431488,VCU,NaN,NaN,Barnes and Noble @ VCU Official Bookstore,620,SPRING 2022,620_1_22_W,PSYC,620_1_655,491,491,002,002,2022-02-05 09:46:58
531208,Florida International University,21551.0,10001.0,FIU - Maidique Campus & All Online Courses,19956951,Spring 2022 Opt Out,107330925,COM,107330951,3461,107331648,U11,107322388,2022-02-05 09:46:58
386514,College of Charleston,NaN,NaN,College of Charleston Official Bookstore,421,Spring 2022,421_1_22_W,CHEM,421_1_75,112L,112L,10,10,2022-02-05 09:46:58
394728,Columbia University in City of NY,NaN,NaN,Columbia University in the City of New York Of...,707,Spring 2022,707_1_22_W,MATH,707_1_570,V3902,V3902,002,002,2022-02-05 09:46:58
355017,UPenn,9740.0,NaN,University of Pennsylvania Official Bookstore,314,Spring 2022,314_1_22_W,MKTG,314_1_602,101,101,209,209,2022-02-05 09:46:58
504489,Univ of North Carolina Chapel Hill,88196.0,10001.0,NaN,75156912,Spring 2022,106477925,NURS,106757776,994,106762213,013,106734540,2022-02-05 09:46:58
66275,Indiana University Bloomington,NaN,NaN,Indiana University Bloomington Official Bookstore,632,Spring 2022,632_632_22_W,MUS-M,632_632_292,604,604,7736,7736,2022-02-05 09:46:58
197309,Stony Brook University (SUNY),10659.0,NaN,Shop Red West,8387,Spring 2022,8387_1_22_W,BME,8387_1_120,475,475,T01,T01,2022-02-05 09:46:58
410457,University of North Texas,NaN,NaN,University of North Texas Official Bookstore,8085,SPRING 2022,8085_1_22_W,ART,8085_1_80,2370,2370,020(11818),020(11818),2022-02-05 09:46:58
347508,UPenn,9740.0,NaN,University of Pennsylvania Official Bookstore,314,Spring 2022,314_1_22_W,ACCT,314_1_14,999,999,001,001,2022-02-05 09:46:58
533943,Florida International University,21551.0,10001.0,FIU - Maidique Campus & All Online Courses,19956951,Spring 2022 Opt Out,107330925,JPN,107331255,3400,107332847,U01,107323975,2022-02-05 09:46:58
275763,University of Delaware,9723.0,NaN,University of Delaware Official Bookstore,289,Winter 2022,289_1_22_I,GEOG,289_1_210,152,152,010,010,2022-02-05 09:46:58
388028,College of Charleston,NaN,NaN,College of Charleston Official Bookstore,421,Spring 2022,421_1_22_W,MATH,421_1_320,431,431,01,01,2022-02-05 09:46:58
232753,Texas A & M University,9693.0,NaN,Texas A&M University Official Bookstore,572,Spring 2022,572_1_22_W,MATH,572_1_297,251,251,501,501,2022-02-05 09:46:58

In [10]:
df1.dropna(axis=0, subset=["university", "term", "department", "course", "section"], how="any")

,university,store_id,catalog_id,campus,campus_id,term,term_id,department,department_id,course,course_id,section,section_id,scanDate
0,Ball State University,9301.0,NaN,Ball State University Official Bookstore,334,SPRING 2022,334_1_22_W,ACC,334_1_9,200,200,1,1,2022-02-05 09:46:58
1,Ball State University,9301.0,NaN,Ball State University Official Bookstore,334,SPRING 2022,334_1_22_W,ACC,334_1_9,201,201,01,01,2022-02-05 09:46:58
2,Ball State University,9301.0,NaN,Ball State University Official Bookstore,334,SPRING 2022,334_1_22_W,ACC,334_1_9,201,201,02,02,2022-02-05 09:46:58
3,Ball State University,9301.0,NaN,Ball State University Official Bookstore,334,SPRING 2022,334_1_22_W,ACC,334_1_9,201,201,03,03,2022-02-05 09:46:58
4,Ball State University,9301.0,NaN,Ball State University Official Bookstore,334,SPRING 2022,334_1_22_W,ACC,334_1_9,201,201,04,04,2022-02-05 09:46:58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
538044,Florida International University,21551.0,10001.0,FIU - Maidique Campus & All Online Courses,19956951,FALL 2022,107903977,PHC,107904486,6328,107916807,RVC,107902500,2022-02-05 09:46:58
538045,Florida International University,21551.0,10001.0,FIU - Maidique Campus & All Online Courses,19956951,FALL 2022,107903977,PHC,107904486,6104C,107916813,RXD,107902492,2022-02-05 09:46:58
538046,Florida International University,21551.0,10001.0,FIU - Maidique Campus & All Online Courses,19956951,FALL 2022,107903977,PHC,107904486,6102,107916814,RXD,107902491,2022-02-05 09:46:58
538047,Florida International University,21551.0,10001.0,FIU - Maidique Campus & All Online Courses,19956951,FALL 2022,107903977,PHC,107904486,6102,107916814,RVC,107902490,2022-02-05 09:46:58
538048,Florida International University,21551.0,10001.0,FIU - Maidique Campus & All Online Courses,19956951,FALL 2022,107903977,PHC,107904486,6099,107916815,U01,107902375,2022-02-05 09:46:58

In [11]:
df1 = df1.drop(["store_id", "catalog_id", "scanDate", "campus"], axis=1)

In [12]:
df1

,university,campus_id,term,term_id,department,department_id,course,course_id,section,section_id
0,Ball State University,334,SPRING 2022,334_1_22_W,ACC,334_1_9,200,200,1,1
1,Ball State University,334,SPRING 2022,334_1_22_W,ACC,334_1_9,201,201,01,01
2,Ball State University,334,SPRING 2022,334_1_22_W,ACC,334_1_9,201,201,02,02
3,Ball State University,334,SPRING 2022,334_1_22_W,ACC,334_1_9,201,201,03,03
4,Ball State University,334,SPRING 2022,334_1_22_W,ACC,334_1_9,201,201,04,04
...,...,...,...,...,...,...,...,...,...,...
538044,Florida International University,19956951,FALL 2022,107903977,PHC,107904486,6328,107916807,RVC,107902500
538045,Florida International University,19956951,FALL 2022,107903977,PHC,107904486,6104C,107916813,RXD,107902492
538046,Florida International University,19956951,FALL 2022,107903977,PHC,107904486,6102,107916814,RXD,107902491
538047,Florida International University,19956951,FALL 2022,107903977,PHC,107904486,6102,107916814,RVC,107902490
538048,Florida International University,19956951,FALL 2022,107903977,PHC,107904486,6099,107916815,U01,107902375

In [13]:
df1 = all_caps(df1, ["university", "term", "department", "course", "course_id", "section"])

In [14]:
df1

,university,campus_id,term,term_id,department,department_id,course,course_id,section,section_id
0,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,200,200,1,1
1,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,201,201,01,01
2,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,201,201,02,02
3,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,201,201,03,03
4,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,201,201,04,04
...,...,...,...,...,...,...,...,...,...,...
538044,FLORIDA INTERNATIONAL UNIVERSITY,19956951,FALL 2022,107903977,PHC,107904486,6328,107916807,RVC,107902500
538045,FLORIDA INTERNATIONAL UNIVERSITY,19956951,FALL 2022,107903977,PHC,107904486,6104C,107916813,RXD,107902492
538046,FLORIDA INTERNATIONAL UNIVERSITY,19956951,FALL 2022,107903977,PHC,107904486,6102,107916814,RXD,107902491
538047,FLORIDA INTERNATIONAL UNIVERSITY,19956951,FALL 2022,107903977,PHC,107904486,6102,107916814,RVC,107902490
538048,FLORIDA INTERNATIONAL UNIVERSITY,19956951,FALL 2022,107903977,PHC,107904486,6099,107916815,U01,107902375

In [15]:
vc(df1["term"])

                        term
SPRING 2022           287183
FALL 2021              67170
FALL 2022              19304
FALL 21                16880
WINTER - 2022          12627
SPRING '22             12417
WINTER 2022            12220
SUMMER 2022            11341
SPRING - 2022          10979
FALL SEMESTER 2021      9352
PANTHER BOOK PACK       9194
SPRING 2022 OPT OUT     8846
SPRING SEMEST. 2022     8631
SPRING 22               7170
SPRING '22 PULLMAN      4739
SPRING '22 ONCAMPUS     4711
SPRING TERM 2022        4379
SPRING 22 BKT BNDLE     4095
SPRING 2022 RES.        4039
ALL SUMMER TERMS        3793
MEDICAL SCHOOL 2021     2575
SPRING/SUMMER 2022      2356
WINTER QUARTER 2022     1468
FALL QUARTER 2021       1271
UCF SPRING 2022         1114
22SPDAY 1/3-4/24        1073
SPRING 22 TERM 3         839
SPRING '22 GLOBAL        716
SPRING 22 TERM 4         712
WSU SPRING 2022          625
FALL 21 SUPPLEMENT       443
21FALLS                  439
SPRING 22 SUPPLEMENT     416
21SPRGS                  410
WINTER INTERSESSION      381
SUMMER 22 TERM 5         337
VC SPRING 2022           317
SPRING22                 286
22DY03 (01/03-02/27      248
PROFESSIONAL 21/22       242
LAW SPRING - 2022        223
SEC SPRING TERM 22       220
WINTER 2021              220
FIRST SPRING 22          188
WINTER 22                179
1ST SPRING MOD 2022      162
WINTER '22               158
SPRING '22 EVERETT       151
SPRING 1 '22 ONLINE      129
2ND SPRING MOD 2022      124
WINTER SESSION 21-2       96
SPRING 2022 SEMESTE       90
SPRING TERM 3             81
SPRING TERM 4             71
WINTER SESSION 22         70
SPRING FULL TERM 22       60
MAYMESTER 2022            36
TROY PC SPRING T-3        35
22DY04 (2/28-4/24)        32
TROY PC SPRING T-4        28
SELF-PACED COURSES        22
WINTER '22 SFCC           22
21FALL2                   16
TROY PC SPRING 2022       14
21FALL1                   13
HIGH SCHOOL               13
SUMMER 22 SEMESTER        10
LATE SUMMER                8
21SPRG1                    8
FALL 22 TERM 1             2
PARALEGAL SPRING 22        1
FALL 22 SEMESTER           1

In [16]:
df1 = df1.loc[ (df1["term"].str.contains("SPRING"))  , :]

In [17]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 366147 entries, 0 to 538015
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   university     366147 non-null  object
 1   campus_id      366147 non-null  object
 2   term           366147 non-null  object
 3   term_id        366147 non-null  object
 4   department     366147 non-null  object
 5   department_id  366147 non-null  object
 6   course         366147 non-null  object
 7   course_id      366147 non-null  object
 8   section        366147 non-null  object
 9   section_id     366147 non-null  object
dtypes: object(10)
memory usage: 30.7+ MB

In [18]:
df1 = df1.reset_index(drop=True)

In [19]:
courses_clean_df = df1.copy()

In [20]:
courses_clean_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366147 entries, 0 to 366146
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   university     366147 non-null  object
 1   campus_id      366147 non-null  object
 2   term           366147 non-null  object
 3   term_id        366147 non-null  object
 4   department     366147 non-null  object
 5   department_id  366147 non-null  object
 6   course         366147 non-null  object
 7   course_id      366147 non-null  object
 8   section        366147 non-null  object
 9   section_id     366147 non-null  object
dtypes: object(10)
memory usage: 27.9+ MB

In [21]:
courses_clean_df

,university,campus_id,term,term_id,department,department_id,course,course_id,section,section_id
0,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,200,200,1,1
1,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,201,201,01,01
2,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,201,201,02,02
3,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,201,201,03,03
4,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,201,201,04,04
...,...,...,...,...,...,...,...,...,...,...
366142,UNIV OF NORTH CAROLINA CHAPEL HILL,75156912,SPRING 2022,106477925,PLCY,106477951,692H,106762678,003,106734657
366143,UNIV OF NORTH CAROLINA CHAPEL HILL,75156912,SPRING 2022,106477925,PLCY,106477951,692H,106762678,002,106734656
366144,UNIV OF NORTH CAROLINA CHAPEL HILL,75156912,SPRING 2022,106477925,PLCY,106477951,692H,106762678,001,106734655
366145,UNIV OF NORTH CAROLINA CHAPEL HILL,75156912,SPRING 2022,106477925,PLCY,106477951,710,106762680,001,106734675
366146,UNIV OF NORTH CAROLINA CHAPEL HILL,75156912,SPRING 2022,106477925,PLCY,106477951,760,106762683,001,106734678

In [22]:
vc(courses_clean_df["university"])

                                            university
PENN STATE UNIVERSITY PARK                       23314
TEXAS A & M UNIVERSITY                           18780
STONY BROOK UNIVERSITY (SUNY)                    14856
INDIANA UNIVERSITY BLOOMINGTON                   14072
UNIVERSITY OF NORTH TEXAS                        12690
UNIVERSITY OF CENTRAL FLORIDA                    12556
UNIVERSITY OF KENTUCKY                           12417
UPENN                                            11938
UNIV OF NORTH CAROLINA CHAPEL HILL               11854
CLEMSON UNIVERSITY                               11492
UCI BOOKSTORE  THE HILL                         11202
TEMPLE UNIVERSITY                                10203
COLUMBIA UNIVERSITY IN CITY OF NY                 9665
GEORGE MASON UNIVERSITY                           9214
KENT STATE UNIVERSITY KENT CAMPUS                 9134
FLORIDA INTERNATIONAL UNIVERSITY                  8846
NORTHEASTERN UNIVERSITY                           8631
SAN JOSE STATE UNIVERSITY                         8341
UNLV BOOKSTORE                                    8298
INDIANA UNIV-PURDUE UN INDIANAPOLIS               8239
UNIVERSITY OF SOUTH CAROLINA                      8168
SAM HOUSTON STATE UNIVERSITY                      7937
UNIVERSITY OF MARYLAND COLLEGE PARK               7799
UNIVERSITY OF MISSISSIPPI                         7722
WASHINGTON STATE UNIVERSITY                       7676
BALL STATE UNIVERSITY                             7451
LOUISIANA STATE UNIVERSITY                        7094
VCU                                               6809
MISSISSIPPI STATE UNIVERSITY                      6514
UNIVERSITY OF DELAWARE                            6446
UNIVERSITY OF NORTH CAROLINA AT CHARLOTTE         5963
WEST VIRGINIA UNIVERSITY AT MORGANTOWN            5914
ILLINOIS STATE UNIVERSITY                         5566
ROWAN UNIVERSITY                                  5333
UNIVERSITY OF NORTH CAROLINA AT GREENSBORO        4929
BOSTON UNIVERSITY                                 4840
UNIVERSITY OF CENTRAL OKLAHOMA                    4379
LIBERTY UNIVERSITY                                4039
TROY UNIVERSITY                                   3612
RUTGERS UNIVERSITY                                3328
SUNY AT BINGHAMTON                                3153
COLLEGE OF CHARLESTON                             2961
WAYNE STATE UNIVERSITY                            2356
COLUMBIA COLLEGE (MISSOURI)                        416

In [23]:
vc(courses_clean_df["term"])

                        term
SPRING 2022           287183
SPRING '22             12417
SPRING - 2022          10979
SPRING 2022 OPT OUT     8846
SPRING SEMEST. 2022     8631
SPRING 22               7170
SPRING '22 PULLMAN      4739
SPRING '22 ONCAMPUS     4711
SPRING TERM 2022        4379
SPRING 22 BKT BNDLE     4095
SPRING 2022 RES.        4039
SPRING/SUMMER 2022      2356
UCF SPRING 2022         1114
SPRING 22 TERM 3         839
SPRING '22 GLOBAL        716
SPRING 22 TERM 4         712
WSU SPRING 2022          625
SPRING 22 SUPPLEMENT     416
VC SPRING 2022           317
SPRING22                 286
LAW SPRING - 2022        223
SEC SPRING TERM 22       220
FIRST SPRING 22          188
1ST SPRING MOD 2022      162
SPRING '22 EVERETT       151
SPRING 1 '22 ONLINE      129
2ND SPRING MOD 2022      124
SPRING 2022 SEMESTE       90
SPRING TERM 3             81
SPRING TERM 4             71
SPRING FULL TERM 22       60
TROY PC SPRING T-3        35
TROY PC SPRING T-4        28
TROY PC SPRING 2022       14
PARALEGAL SPRING 22        1

In [24]:
vc(courses_clean_df["department"])

        department
MATH          7781
BIOL          6922
CHEM          6632
ENGL          5705
PHYS          5154
...            ...
SLAV-G           1
INBS             1
CAS MB           1
ORCA             1
MEUS             1

[4392 rows x 1 columns]

In [25]:
vc(courses_clean_df["course"])

       course
101      3532
691      3008
102      2721
491      2463
199      1992
...       ...
67200       1
66100       1
62095       1
60607       1
6782        1

[21595 rows x 1 columns]

In [26]:
vc(courses_clean_df["section"])

       section
001      48151
01       19053
002      14261
003       7897
02        6147
...        ...
39510        1
39404        1
39514        1
39460        1
U01C         1

[55058 rows x 1 columns]

In [28]:
courses_clean_df

,university,campus_id,term,term_id,department,department_id,course,course_id,section,section_id
0,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,200,200,1,1
1,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,201,201,01,01
2,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,201,201,02,02
3,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,201,201,03,03
4,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,201,201,04,04
...,...,...,...,...,...,...,...,...,...,...
366142,UNIV OF NORTH CAROLINA CHAPEL HILL,75156912,SPRING 2022,106477925,PLCY,106477951,692H,106762678,003,106734657
366143,UNIV OF NORTH CAROLINA CHAPEL HILL,75156912,SPRING 2022,106477925,PLCY,106477951,692H,106762678,002,106734656
366144,UNIV OF NORTH CAROLINA CHAPEL HILL,75156912,SPRING 2022,106477925,PLCY,106477951,692H,106762678,001,106734655
366145,UNIV OF NORTH CAROLINA CHAPEL HILL,75156912,SPRING 2022,106477925,PLCY,106477951,710,106762680,001,106734675
366146,UNIV OF NORTH CAROLINA CHAPEL HILL,75156912,SPRING 2022,106477925,PLCY,106477951,760,106762683,001,106734678

In [27]:
courses_clean_df.to_csv("courses.csv", encoding="utf-8", index=False)

TEXTBOOKS

In [29]:
filepath2 = "../../BILL_PROJ2_FILES/BNTextbook_2022-02-05.csv"

In [30]:
df2 = pd.read_csv(filepath2, encoding="utf-8", low_memory=False)

In [31]:
df2 = basic_clean(df2)

In [32]:
df2 = df2.drop(columns=["catalog_id", "scanDate", "book_url", "no_textbook_message"])

In [33]:
all_caps(df2, ["title", "edition", "publisher", "book_type", "book_id", "recommend_type", "price"])

,store_id,campus_id,term_id,department_id,course_id,section_id,title,edition,publisher,book_type,book_id,recommend_type,ISBN,price
0,9301.0,334,334_1_22_W,334_1_9,200,1,CENGAGE UNLIMITED - ACCESS (1 SEMESTER),18,CENGAGE U,DIGITAL PURCHASE,MBS_5186058_DG,EBOOK OPTION,9.780358e+12,$119.99
1,9301.0,334,334_1_22_W,334_1_9,201,01,FINANCIAL ACCOUNTING: INFORMATION FOR DECISION...,10TH 21,MCG CUSTOM,NEW PRINT,MBS_5780024_NEW,REQUIRED,9.781264e+12,$107.90
2,9301.0,334,334_1_22_W,334_1_9,201,02,FINANCIAL ACCOUNTING: INFORMATION FOR DECISION...,10TH 21,MCG CUSTOM,NEW PRINT,MBS_5780024_NEW,REQUIRED,9.781264e+12,$107.90
3,9301.0,334,334_1_22_W,334_1_9,201,03,FINANCIAL ACCOUNTING: INFORMATION FOR DECISION...,10TH 21,MCG CUSTOM,NEW PRINT,MBS_5780024_NEW,REQUIRED,9.781264e+12,$107.90
4,9301.0,334,334_1_22_W,334_1_9,201,04,FINANCIAL ACCOUNTING: INFORMATION FOR DECISION...,10TH 21,MCG CUSTOM,NEW PRINT,MBS_5780024_NEW,REQUIRED,9.781264e+12,$107.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
992670,88196.0,75156912,106477925,106757452,106762860,106737761,BIOL 252 LAB PRINTED ACCESS CODE,W21,VAN-GRINER,BUY NEW,550036485535,REQUIRED,9.781646e+12,$45.60
992671,88196.0,75156912,106477925,106757452,106762860,106737762,BIOL 252 LAB PRINTED ACCESS CODE,W21,VAN-GRINER,BUY NEW,550036485535,REQUIRED,9.781646e+12,$45.60
992672,88196.0,75156912,106477925,106757452,106762860,106737763,BIOL 252 LAB PRINTED ACCESS CODE,W21,VAN-GRINER,BUY NEW,550036485535,REQUIRED,9.781646e+12,$45.60
992673,88196.0,75156912,106477925,106757452,106762860,106737764,BIOL 252 LAB PRINTED ACCESS CODE,W21,VAN-GRINER,BUY NEW,550036485535,REQUIRED,9.781646e+12,$45.60
992674,88196.0,75156912,106477925,106757452,106762860,106737765,BIOL 252 LAB PRINTED ACCESS CODE,W21,VAN-GRINER,BUY NEW,550036485535,REQUIRED,9.781646e+12,$45.60

In [34]:
df2.dropna(axis=0, subset=["title", "ISBN", "price", "department_id", "course_id", "section_id"], how="any")

,store_id,campus_id,term_id,department_id,course_id,section_id,title,edition,publisher,book_type,book_id,recommend_type,ISBN,price
0,9301.0,334,334_1_22_W,334_1_9,200,1,CENGAGE UNLIMITED - ACCESS (1 SEMESTER),18,CENGAGE U,DIGITAL PURCHASE,MBS_5186058_DG,EBOOK OPTION,9.780358e+12,$119.99
1,9301.0,334,334_1_22_W,334_1_9,201,01,FINANCIAL ACCOUNTING: INFORMATION FOR DECISION...,10TH 21,MCG CUSTOM,NEW PRINT,MBS_5780024_NEW,REQUIRED,9.781264e+12,$107.90
2,9301.0,334,334_1_22_W,334_1_9,201,02,FINANCIAL ACCOUNTING: INFORMATION FOR DECISION...,10TH 21,MCG CUSTOM,NEW PRINT,MBS_5780024_NEW,REQUIRED,9.781264e+12,$107.90
3,9301.0,334,334_1_22_W,334_1_9,201,03,FINANCIAL ACCOUNTING: INFORMATION FOR DECISION...,10TH 21,MCG CUSTOM,NEW PRINT,MBS_5780024_NEW,REQUIRED,9.781264e+12,$107.90
4,9301.0,334,334_1_22_W,334_1_9,201,04,FINANCIAL ACCOUNTING: INFORMATION FOR DECISION...,10TH 21,MCG CUSTOM,NEW PRINT,MBS_5780024_NEW,REQUIRED,9.781264e+12,$107.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
992670,88196.0,75156912,106477925,106757452,106762860,106737761,BIOL 252 LAB PRINTED ACCESS CODE,W21,VAN-GRINER,BUY NEW,550036485535,REQUIRED,9.781646e+12,$45.60
992671,88196.0,75156912,106477925,106757452,106762860,106737762,BIOL 252 LAB PRINTED ACCESS CODE,W21,VAN-GRINER,BUY NEW,550036485535,REQUIRED,9.781646e+12,$45.60
992672,88196.0,75156912,106477925,106757452,106762860,106737763,BIOL 252 LAB PRINTED ACCESS CODE,W21,VAN-GRINER,BUY NEW,550036485535,REQUIRED,9.781646e+12,$45.60
992673,88196.0,75156912,106477925,106757452,106762860,106737764,BIOL 252 LAB PRINTED ACCESS CODE,W21,VAN-GRINER,BUY NEW,550036485535,REQUIRED,9.781646e+12,$45.60
992674,88196.0,75156912,106477925,106757452,106762860,106737765,BIOL 252 LAB PRINTED ACCESS CODE,W21,VAN-GRINER,BUY NEW,550036485535,REQUIRED,9.781646e+12,$45.60

In [35]:
df2 = df2.reset_index(drop=True)

In [36]:
vc(df2["book_type"])

                   book_type
NEW PRINT             176916
USED PRINT            137171
NEW PRINT RENTAL       99688
USED PRINT RENTAL      98007
DIGITAL PURCHASE       28571
BUY NEW                22884
BUY USED               16150
DIGITAL RENTAL         15088
RENT NEW               12781
RENT USED              12536
BUY DIGITAL            10627
COURSE MATERIAL         6042
RENT ONLY               4452
RENT DIGITAL            4342

In [37]:
df2 = df2.loc[ (df2["book_type"].str.contains("NEW") | df2["book_type"].str.contains("DIGITAL"))  , :]

In [38]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 370897 entries, 0 to 990726
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   store_id        250056 non-null  float64
 1   campus_id       370897 non-null  object
 2   term_id         370897 non-null  object
 3   department_id   370897 non-null  object
 4   course_id       370897 non-null  object
 5   section_id      370897 non-null  object
 6   title           370897 non-null  object
 7   edition         362369 non-null  object
 8   publisher       370634 non-null  object
 9   book_type       370897 non-null  object
 10  book_id         370897 non-null  object
 11  recommend_type  367977 non-null  object
 12  ISBN            370670 non-null  float64
 13  price           370897 non-null  object
dtypes: float64(2), object(12)
memory usage: 42.4+ MB

In [39]:
df2 = df2.drop(columns=["store_id"])

In [40]:
df2 = df2.astype({"ISBN": "str"})

In [41]:
df2[["recommend_type", "edition", "publisher", "ISBN"]] =\
    df2[["recommend_type", "edition", "publisher", "ISBN"]].fillna("unknown")

In [42]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 370897 entries, 0 to 990726
Data columns (total 13 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   campus_id       370897 non-null  object
 1   term_id         370897 non-null  object
 2   department_id   370897 non-null  object
 3   course_id       370897 non-null  object
 4   section_id      370897 non-null  object
 5   title           370897 non-null  object
 6   edition         370897 non-null  object
 7   publisher       370897 non-null  object
 8   book_type       370897 non-null  object
 9   book_id         370897 non-null  object
 10  recommend_type  370897 non-null  object
 11  ISBN            370897 non-null  object
 12  price           370897 non-null  object
dtypes: object(13)
memory usage: 39.6+ MB

In [43]:
df2["ISBN"] = df2["ISBN"].str.rstrip(".0")

In [44]:
df2["price"] = df2["price"].str.lstrip("$")

In [45]:
df2["price"] = df2["price"].str.replace(",", "", regex=False)

In [46]:
df2["price"] = df2["price"].str.replace("PRICE NOT YET AVAILABLE**", "0.00", regex=False)

In [47]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 370897 entries, 0 to 990726
Data columns (total 13 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   campus_id       370897 non-null  object
 1   term_id         370897 non-null  object
 2   department_id   370897 non-null  object
 3   course_id       370897 non-null  object
 4   section_id      370897 non-null  object
 5   title           370897 non-null  object
 6   edition         370897 non-null  object
 7   publisher       370897 non-null  object
 8   book_type       370897 non-null  object
 9   book_id         370897 non-null  object
 10  recommend_type  370897 non-null  object
 11  ISBN            370897 non-null  object
 12  price           370897 non-null  object
dtypes: object(13)
memory usage: 39.6+ MB

In [48]:
vc(df2["price"])

        price
6.95     5327
44.99    3712
74.99    3520
17.00    3228
11.55    2883
...       ...
134.65      1
193.50      1
131.60      1
166.12      1
37.92       1

[11385 rows x 1 columns]

In [49]:
df2["price"] = df2["price"].apply(lambda x: float(x))

In [50]:
df2 = df2.rename(columns={"ISBN": "isbn"})

In [51]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 370897 entries, 0 to 990726
Data columns (total 13 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   campus_id       370897 non-null  object
 1   term_id         370897 non-null  object
 2   department_id   370897 non-null  object
 3   course_id       370897 non-null  object
 4   section_id      370897 non-null  object
 5   title           370897 non-null  object
 6   edition         370897 non-null  object
 7   publisher       370897 non-null  object
 8   book_type       370897 non-null  object
 9   book_id         370897 non-null  object
 10  recommend_type  370897 non-null  object
 11  isbn            370897 non-null  object
 12  price           370897 non-null  float64
dtypes: float64(1), object(12)
memory usage: 39.6+ MB

In [52]:
df2.sample(50)

,campus_id,term_id,department_id,course_id,section_id,title,edition,publisher,book_type,book_id,recommend_type,isbn,price
963654,27695107,104801368,104801404,104801904,104798994,ABOLITION OF MAN,47,HARP PUB,BUY NEW,500052872731,REQUIRED,9780060652944,16.99
120844,656,656_1_22_W,656_1_6,2301,30901,FUNDAMENTAL MANAGERIAL ACCOUNTING CONCEPTS - W...,9TH 20,MCG,NEW PRINT,MBS_2245115_NEW,REQUIRED,9781260696226,236.42
542937,240,240_1_22_W,240_1_255,331L,013,EYEWEAR S360,unknown,unknown,NEW PRINT,240_844011338_NEW,REQUIRED,2818440113383,17.68
793884,327,327_1_22_W,327_1_399,4286,0W67,STRENGTHSFINDER 2.0 - WITH SEALED ACCESS,07,S+S,NEW PRINT,MBS_810884_NEW,REQUIRED,9781595620156,39.99
140646,246,246_1_21_F,246_1_155,253,001,"MUSIC IN WESTERN CIVILIZATION, MEDIA UPDATE - ...",10,CENGAGE L,NEW PRINT,MBS_6079085_NEW,REQUIRED,9780495572732,157.74
603767,435,435_1_22_W,435_1_720,480,201,NCLEX DRUG GUIDE,8TH 19,S+S,NEW PRINT RENTAL,MBS_2317390_NEW,REQUIRED,9781506245195,14.85
564205,240,240_1_22_W,240_1_425,440,001,"DER BLONDE ECKBERT, DER RUNENBERG, DIE ELFIN",52,RECLAM,NEW PRINT RENTAL,MBS_359959_NEW,REQUIRED,978315007732,7.05
569463,370,370_370_22_W,370_370_70,300,0101,ESSENTIAL COSMIC PERSPECTIVE - MODIFIED MASTER...,9TH 21,PEARSON,NEW PRINT,MBS_2285648_NEW,REQUIRED,9780135795798,122.13
385939,396,396_1_22_W,396_1_345,2000,138,EVERYONE'S AN AUTHOR: WITH READINGS,3RD 21,NORTON,NEW PRINT,MBS_6246994_NEW,REQUIRED,9780393885699,83.20
748681,50D,50_1_22_S,50_1_561,405,01,COMPARATIVE CRIMINAL JUSTICE SYSTEMS,5TH 14,CENGAGE L,NEW PRINT,MBS_1217866_NEW,REQUIRED,9781285067865,207.00
887094,19956949,107330924,107331161,107332498,107321234,RECREATIONAL THERAPY F/SPECIFIC DIAG...,15,IDYLL ARB,BUY NEW,500053865262,REQUIRED,9781882883967,102.86
214914,656,656_1_22_I,656_1_805,6210,22120,GUIDE TO THE PROJECT MANAGEMENT BODY OF KNOWLEDGE,7TH 21,IPG,NEW PRINT,MBS_6053140_NEW,REQUIRED,9781628256642,99.00
671850,366,366_366_22_W,366_366_410,534,DL1,AUGMENTATIVE AND ALTERNATIVE COMMUNICATION,5TH 20,BROOKES,NEW PRINT,MBS_2350276_NEW,REQUIRED,9781681253039,89.95
546338,370,370_370_21_F,370_370_540,245,0103,"FOUR TEXTS ON SOCRATES: PLATO'S EUTHYPHRO, APO...",REV 98,LONGLEAF,NEW PRINT,MBS_386783_NEW,REQUIRED,9780801485749,14.50
844765,327,327_1_22_W,327_1_700,6622,0001,CAREER AND COLLEGE READINESS COUNSELING - WITH...,2ND 17,SPRINGER P,NEW PRINT RENTAL,MBS_1954596_NEW,REQUIRED,9780826136145,65.30
124941,774,774_1_22_W,774_1_61,413,1001,WATER RESOURCES ENGINEERING (PAPERBACK),3RD 19,WILEY,NEW PRINT,MBS_2143161_NEW,REQUIRED,9781119490579,125.33
717377,50,50_1_22_W,50_1_272,341,01,"SIGNALS, SYSTEMS, AND TRANSFORMS",5TH 14,PEARSON,NEW PRINT RENTAL,MBS_1393462_NEW,REQUIRED,9780133506471,155.05
135086,246,246_1_21_F,246_1_100,290,001,WHY LEARN HISTORY (WHEN IT'S ALREADY ON YOUR P...,18,UCP,NEW PRINT,MBS_2257364_NEW,REQUIRED,9780226357218,20.00
449572,439,439_439_22_W,439_439_95,113,001,CHEMISTRY STUDENT LAB. NOTEBOOK (100 PAGES),LATEST,HAYDEN-MCN,NEW PRINT,MBS_950553_NEW,REQUIRED,9781930882096,21.90
561390,572,572_1_22_W,572_1_426,480,900,FUTURE OF AN ILLUSION,61,NORTON,NEW PRINT RENTAL,MBS_16105_NEW,REQUIRED,9780393008319,9.50
180766,774,774_1_22_W,774_1_440,342,1001,NURS LVL 1 PRINT+EBOOK >BI<,F21,ELSEVIER,NEW PRINT,774_813022355_NEW,REQUIRED,9780323977937,501.91
142437,774,774_1_22_W,774_1_178,660A,1001,FELLOWSHIP OF THE RING,66,HBC TRADE,NEW PRINT RENTAL,MBS_1324775_NEW,REQUIRED,978054792821,11.55
423306,572,572_1_22_W,572_1_33,333,502,PATHWAYS TO PREGNANCY AND PARTURITION,3RD 12,CURR CONC,NEW PRINT RENTAL,MBS_1286133_NEW,REQUIRED,9780965764834,174.45
483380,572,572_1_22_W,572_1_178,209,215,VETERINARY ENTOMOLOGY - ACCESS CARD,19,K/H,NEW PRINT,MBS_2331386_NEW,REQUIRED,9781644961872,108.00
466683,8159,8159_1_22_W,8159_1_804,111,111,TEVERA - ACCESS,17,TEVERA,NEW PRINT,8159_844002992_NEW,REQUIRED,9780692906521,270.40
295054,8387,8387_1_22_W,8387_1_490,318,30,DEMOCRACY IN AMERICA,10,PENG RAND,NEW PRINT,MBS_1044768_NEW,REQUIRED,9780451531605,7.95
577969,240,240_1_22_W,240_1_520,465,006,FRAMEWORK FOR MARKETING MANAGEMENT,6TH 16,PEARSON,DIGITAL RENTAL,MBS_1796229_DG,REQUIRED,9780133871319,59.99
867314,366,366_366_22_W,366_366_325,401,DL1,PUBLICATION MANUAL OF THE AMERICAN PSYCHOLOGIC...,7TH 20,AM PSYCHOL,NEW PRINT,MBS_2303635_NEW,REQUIRED,9781433832178,44.99
210787,8206,8206_1_22_J,8206_1_520,513,84339,CRIMINAL PROCEDURE - 2021 SUPPLEMENT,15TH 21,WEST ACAD,NEW PRINT,MBS_6217574_NEW,REQUIRED,9781647088965,42.15
807251,8085,8085_1_22_W,8085_1_485,1020,002(8683),ENGLISH GRAMMAR FOR STUDENTS OF LATIN: STUDY G...,3RD 04,OLIVIA,NEW PRINT RENTAL,MBS_638134_NEW,RECOMMENDED,978093403434,15.60
321484,330,330_1_22_W,330_1_210,476,042,FIRST DAYS OF SCHOOL: HOW TO BE AN EFFECTIVE T...,5TH 18,WONG PUB,DIGITAL PURCHASE,MBS_2232098_DG,REQUIRED,9780976423386,30.50
579034,370,370_370_22_W,370_370_110,131,1235,ATOMS FIRST GENERAL CHEM.(OER)-ACCESS,LATEST,TOPHAT,NEW PRINT,370_844018782_NEW,REQUIRED,9781773305981,81.42
516495,317,317_1_22_W,317_1_163,493,SECTION 1,STRATEGIC MANAGEMENT: CONCEPTS AND CASES: COMP...,13TH 20,CENGAGE L,NEW PRINT,MBS_2296805_NEW,REQUIRED,9780357033838,196.56
888985,27695107,107004589,107004668,107010369,107000589,HOW TO THINK ABOUT...(LL) >CUSTOM<,8TH 20,MCG CUSTOM,RENT NEW,500053453633,REQUIRED,9781264143849,48.55
365111,693,693_1_22_W,693_1_190,0851,036,LEFT HAND OF DARKNESS,69,PENG RAND,NEW PRINT,MBS_28107_NEW,WAIT FOR CLASS,9780441478125,9.99
255461,336,336_1_22_W,336_1_305,5273,24706,SUBSTANCE ABUSE AND THE FAMILY,2ND 19,TAYLOR,NEW PRINT RENTAL,MBS_2328372_NEW,REQUIRED,9781138625976,36.00
173769,656,656_1_22_W,656_1_491,1202,38531,JUSTICE: WHAT'S THE RIGHT THING TO DO,09,MAC HIGHER,NEW PRINT RENTAL,MBS_1013913_NEW,REQUIRED,9780374532505,12.25
199919,684,684_1_22_W,684_1_39,105L,08,BIOLOGY 105 - ACCESS CARD (CUSTOM),LATEST,HAYDEN-MCN,NEW PRINT,MBS_2264384_NEW,REQUIRED,9781533910028,37.53
461708,204,204_1_22_W,204_1_200,1113,31,NORTON FIELD GUIDE TO WRITING - ACCESS,5TH 21,NORTON,NEW PRINT,MBS_6641052_NEW,REQUIRED,9780393885781,50.00
364421,693,693_1_22_W,693_1_190,0851,019,CITIZEN,14,MAC HIGHER,NEW PRINT RENTAL,MBS_1529733_NEW,WAIT FOR CLASS,9781555976903,13.60
65368,480,480_1_22_Y,480_1_618,743,O2,PRACTICE OF RESEARCH IN SOCIAL WORK,4TH 17,SAGE,NEW PRINT,MBS_1819468_NEW,REQUIRED,9781506304267,125.00
785247,327,327_1_22_W,327_1_289,6005,0V60,DESTINATION DISSERTATION: A TRAVELER'S GUIDE T...,2ND 16,RLPG,DIGITAL PURCHASE,MBS_1964813_DG,REQUIRED,978144224614,36.00
666935,740,740_1_22_A,740_1_601,7570,31760,BOOK OF R,16,PENG RAND,NEW PRINT,MBS_2067243_NEW,RECOMMENDED,9781593276515,49.95
277322,632,632_632_22_W,632_632_393,332,5084,INTRODUCTION TO FAMILY SOCIAL WORK,4TH 13,CENGAGE L,NEW PRINT,MBS_1159256_NEW,RECOMMENDED,9781133312628,183.04
863563,366,366_366_22_W,366_366_210,498,DL8,STRATEGIC MANAGEMENT: CONCEPTS - CONNECT ACCESS,5TH 21,MCG COURSE,DIGITAL PURCHASE,MBS_5418974_DG,REQUIRED,8220112654195,156.00
224618,336,336_1_22_W,336_1_75,3333,21496,CRADLE TO CRADLE,02,MAC HIGHER,NEW PRINT RENTAL,MBS_563496_NEW,REQUIRED,9780865475878,21.75
700770,366,366_366_22_W,366_366_700,303,007,MARKETING,8TH 22,MCG COURSE,DIGITAL RENTAL,MBS_6047669_DG,EBOOK OPTION,8220122841851,60.00
18467,334,334_1_22_W,334_1_790,651,1,FIRST 90 DAYS IN GOVERNMENT: CRITICAL SUCCESS ...,06,INGRAM PUB,NEW PRINT RENTAL,MBS_909927_NEW,REQUIRED,9781591399551,28.30
650014,619,619_1_22_W,619_1_520,05356,1,CRIMINAL JUSTICE: INTERNSHIP MANUAL,4TH 21,K/H,NEW PRINT,MBS_6546635_NEW,REQUIRED,978179244869,100.00
560318,370,370_370_21_F,370_370_594,767,0101,WHAT BROWN V. BOARD OF EDUCATION SHOULD HAVE S...,01,INGRAM PUB,NEW PRINT,MBS_627910_NEW,REQUIRED,9780814798904,27.00

In [53]:
df2 = df2.reset_index(drop=True)

In [54]:
textbooks_clean_df = df2.copy()

In [55]:
textbooks_clean_df

,campus_id,term_id,department_id,course_id,section_id,title,edition,publisher,book_type,book_id,recommend_type,isbn,price
0,334,334_1_22_W,334_1_9,200,1,CENGAGE UNLIMITED - ACCESS (1 SEMESTER),18,CENGAGE U,DIGITAL PURCHASE,MBS_5186058_DG,EBOOK OPTION,9780357700006,119.99
1,334,334_1_22_W,334_1_9,201,01,FINANCIAL ACCOUNTING: INFORMATION FOR DECISION...,10TH 21,MCG CUSTOM,NEW PRINT,MBS_5780024_NEW,REQUIRED,9781264273881,107.90
2,334,334_1_22_W,334_1_9,201,02,FINANCIAL ACCOUNTING: INFORMATION FOR DECISION...,10TH 21,MCG CUSTOM,NEW PRINT,MBS_5780024_NEW,REQUIRED,9781264273881,107.90
3,334,334_1_22_W,334_1_9,201,03,FINANCIAL ACCOUNTING: INFORMATION FOR DECISION...,10TH 21,MCG CUSTOM,NEW PRINT,MBS_5780024_NEW,REQUIRED,9781264273881,107.90
4,334,334_1_22_W,334_1_9,201,04,FINANCIAL ACCOUNTING: INFORMATION FOR DECISION...,10TH 21,MCG CUSTOM,NEW PRINT,MBS_5780024_NEW,REQUIRED,9781264273881,107.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...
370892,75156912,106477925,106757452,106762860,106737761,BIOL 252 LAB PRINTED ACCESS CODE,W21,VAN-GRINER,BUY NEW,550036485535,REQUIRED,9781645650324,45.60
370893,75156912,106477925,106757452,106762860,106737762,BIOL 252 LAB PRINTED ACCESS CODE,W21,VAN-GRINER,BUY NEW,550036485535,REQUIRED,9781645650324,45.60
370894,75156912,106477925,106757452,106762860,106737763,BIOL 252 LAB PRINTED ACCESS CODE,W21,VAN-GRINER,BUY NEW,550036485535,REQUIRED,9781645650324,45.60
370895,75156912,106477925,106757452,106762860,106737764,BIOL 252 LAB PRINTED ACCESS CODE,W21,VAN-GRINER,BUY NEW,550036485535,REQUIRED,9781645650324,45.60
370896,75156912,106477925,106757452,106762860,106737765,BIOL 252 LAB PRINTED ACCESS CODE,W21,VAN-GRINER,BUY NEW,550036485535,REQUIRED,9781645650324,45.60

In [56]:
textbooks_clean_df.to_csv("textbooks.csv", encoding="utf-8")

In [ ]:
textbooks_clean_df[]

In [68]:
merge_df = pd.merge(courses_clean_df, textbooks_clean_df, on=["department_id", "course_id"])

In [70]:
merge_df[["university", "term", "department", "course", "title"]].drop_duplicates()

,university,term,department,course,title
0,BALL STATE UNIVERSITY,SPRING 2022,ACC,200,CENGAGE UNLIMITED - ACCESS (1 SEMESTER)
1,BALL STATE UNIVERSITY,SPRING 2022,ACC,201,FINANCIAL ACCOUNTING: INFORMATION FOR DECISION...
145,BALL STATE UNIVERSITY,SPRING 2022,ACC,202,MANAGERIAL ACCOUNTING (LOOSELEAF) (CUSTOM PACK...
152,BALL STATE UNIVERSITY,SPRING 2022,ACC,202,MANAGERIAL ACCOUNTING TEXT ONLY CUSTOM
153,BALL STATE UNIVERSITY,SPRING 2022,ACC,202,MANAGERIAL ACCOUNTING
...,...,...,...,...,...
3509522,UNIV OF NORTH CAROLINA CHAPEL HILL,SPRING 2022,MUSC,110,"ALFRED'S PIANO 101,BOOK 1"
3509524,UNIV OF NORTH CAROLINA CHAPEL HILL,SPRING 2022,MUSC,110,"SIGHT READING,LEVEL 1"
3509538,UNIV OF NORTH CAROLINA CHAPEL HILL,SPRING 2022,PLCY,460,REAL ECONOMETRICS
3509548,UNIV OF NORTH CAROLINA CHAPEL HILL,SPRING 2022,PLCY,581,PRACTICE OF RESEARCH
3509556,UNIV OF NORTH CAROLINA CHAPEL HILL,SPRING 2022,PLCY,710,PRACTICAL GUIDE FOR POLICY ANALYSIS

### JUNCTION TABLE

In [57]:
df1 = courses_clean_df.copy()

In [58]:
df1 = df1.reset_index()

In [59]:
df1 = df1.rename({"index": "courses_unique_id"}, axis=1)

In [60]:
# df1 = df1.drop(["campus_id", "term_id", "department_id", "course_id", "section_id"], axis=1)

In [61]:
df1

,courses_unique_id,university,campus_id,term,term_id,department,department_id,course,course_id,section,section_id
0,0,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,200,200,1,1
1,1,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,201,201,01,01
2,2,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,201,201,02,02
3,3,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,201,201,03,03
4,4,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,201,201,04,04
...,...,...,...,...,...,...,...,...,...,...,...
366142,366142,UNIV OF NORTH CAROLINA CHAPEL HILL,75156912,SPRING 2022,106477925,PLCY,106477951,692H,106762678,003,106734657
366143,366143,UNIV OF NORTH CAROLINA CHAPEL HILL,75156912,SPRING 2022,106477925,PLCY,106477951,692H,106762678,002,106734656
366144,366144,UNIV OF NORTH CAROLINA CHAPEL HILL,75156912,SPRING 2022,106477925,PLCY,106477951,692H,106762678,001,106734655
366145,366145,UNIV OF NORTH CAROLINA CHAPEL HILL,75156912,SPRING 2022,106477925,PLCY,106477951,710,106762680,001,106734675
366146,366146,UNIV OF NORTH CAROLINA CHAPEL HILL,75156912,SPRING 2022,106477925,PLCY,106477951,760,106762683,001,106734678

In [62]:
df1_mini = df1[:100]

In [63]:

for index, row in df1_mini.iterrows():
    uniq = f'{row["campus_id"]}{row["term_id"]}{row["department_id"]}{row["course_id"]}{row["section_id"]}'
    df1_mini["new_id"] = uniq

C:\Users\vannx\AppData\Local\Temp\ipykernel_21968\3373562030.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_mini["new_id"] = uniq

In [64]:
df1_mini

,courses_unique_id,university,campus_id,term,term_id,department,department_id,course,course_id,section,section_id,new_id
0,0,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,200,200,1,1,334334_1_22_W334_1_271012
1,1,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,201,201,01,01,334334_1_22_W334_1_271012
2,2,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,201,201,02,02,334334_1_22_W334_1_271012
3,3,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,201,201,03,03,334334_1_22_W334_1_271012
4,4,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,201,201,04,04,334334_1_22_W334_1_271012
5,5,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,201,201,05,05,334334_1_22_W334_1_271012
6,6,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,201,201,06,06,334334_1_22_W334_1_271012
7,7,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,201,201,07H,07H,334334_1_22_W334_1_271012
8,8,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,201,201,08,08,334334_1_22_W334_1_271012
9,9,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,201,201,09,09,334334_1_22_W334_1_271012
10,10,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,201,201,10,10,334334_1_22_W334_1_271012
11,11,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,201,201,800,800,334334_1_22_W334_1_271012
12,12,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,201,201,801,801,334334_1_22_W334_1_271012
13,13,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,202,202,01,01,334334_1_22_W334_1_271012
14,14,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,202,202,02,02,334334_1_22_W334_1_271012
15,15,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,202,202,03,03,334334_1_22_W334_1_271012
16,16,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,202,202,04,04,334334_1_22_W334_1_271012
17,17,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,202,202,05,05,334334_1_22_W334_1_271012
18,18,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,202,202,06,06,334334_1_22_W334_1_271012
19,19,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,202,202,07,07,334334_1_22_W334_1_271012
20,20,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,202,202,08,08,334334_1_22_W334_1_271012
21,21,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,202,202,09,09,334334_1_22_W334_1_271012
22,22,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,202,202,10,10,334334_1_22_W334_1_271012
23,23,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,202,202,800,800,334334_1_22_W334_1_271012
24,24,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,202,202,801,801,334334_1_22_W334_1_271012
25,25,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,202,202,802,802,334334_1_22_W334_1_271012
26,26,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,202,202,803,803,334334_1_22_W334_1_271012
27,27,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,299X,299X,1,1,334334_1_22_W334_1_271012
28,28,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,299X,299X,800,800,334334_1_22_W334_1_271012
29,29,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,301,301,1,1,334334_1_22_W334_1_271012
30,30,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,301,301,2,2,334334_1_22_W334_1_271012
31,31,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,302,302,1,1,334334_1_22_W334_1_271012
32,32,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,302,302,2,2,334334_1_22_W334_1_271012
33,33,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,302,302,800,800,334334_1_22_W334_1_271012
34,34,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,302,302,801,801,334334_1_22_W334_1_271012
35,35,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,305,305,1,1,334334_1_22_W334_1_271012
36,36,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,306,306,1,1,334334_1_22_W334_1_271012
37,37,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,369,369,33,33,334334_1_22_W334_1_271012
38,38,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,369,369,3P,3P,334334_1_22_W334_1_271012
39,39,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,369,369,66,66,334334_1_22_W334_1_271012
40,40,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,369,369,6P,6P,334334_1_22_W334_1_271012
41,41,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,401,401,1,1,334334_1_22_W334_1_271012
42,42,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,401,401,2,2,334334_1_22_W334_1_271012
43,43,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,410,410,1,1,334334_1_22_W334_1_271012
44,44,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,410,410,800,800,334334_1_22_W334_1_271012
45,45,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,430,430,1,1,334334_1_22_W334_1_271012
46,46,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,430,430,IS,IS,334334_1_22_W334_1_271012
47,47,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,440,440,1,1,334334_1_22_W334_1_271012
48,48,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,440,440,2,2,334334_1_22_W334_1_271012
49,49,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,451,451,1,1,334334_1_22_W334_1_271012
50,50,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,451,451,2,2,334334_1_22_W334_1_271012
51,51,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,451,451,800,800,334334_1_22_W334_1_271012
52,52,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,451,451,801,801,334334_1_22_W334_1_271012
53,53,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,495,495,1,1,334334_1_22_W334_1_271012
54,54,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,495,495,800,800,334334_1_22_W334_1_271012
55,55,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,497,497,1,1,334334_1_22_W334_1_271012
56,56,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,497,497,2,2,334334_1_22_W334_1_271012
57,57,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,625,625,1,1,334334_1_22_W334_1_271012
58,58,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,650,650,1,1,334334_1_22_W334_1_271012
59,59,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,675,675,1,1,334334_1_22_W334_1_271012
60,60,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,690,690,1,1,334334_1_22_W334_1_271012
61,61,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,690,690,800,800,334334_1_22_W334_1_271012
62,62,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,697,697,1,1,334334_1_22_W334_1_271012
63,63,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,697,697,36,36,334334_1_22_W334_1_271012
64,64,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACE,334_1_10,600,600,800,800,334334_1_22_W334_1_271012
65,65,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACE,334_1_10,604,604,800,800,334334_1_22_W334_1_271012
66,66,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACE,334_1_10,618,618,800,800,334334_1_22_W334_1_271012
67,67,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACE,334_1_10,625,625,800,800,334334_1_22_W334_1_271012
68,68,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACE,334_1_10,632,632,800,800,334334_1_22_W334_1_271012
69,69,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACE,334_1_10,670,670,800,800,334334_1_22_W334_1_271012
70,70,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACE,334_1_10,688,688,800,800,334334_1_22_W334_1_271012
71,71,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACE,334_1_10,692,692,800,800,334334_1_22_W334_1_271012
72,72,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACR,334_1_18,211,211,1,1,334334_1_22_W334_1_271012
73,73,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACR,334_1_18,211,211,2,2,334334_1_22_W334_1_271012
74,74,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACR,334_1_18,211,211,3,3,334334_1_22_W334_1_271012
75,75,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACR,334_1_18,221,221,1,1,334334_1_22_W334_1_271012
76,76,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACR,334_1_18,231,231,1,1,334334_1_22_W334_1_271012
77,77,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACR,334_1_18,312,312,1,1,334334_1_22_W334_1_271012
78,78,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACR,334_1_18,313,313,1,1,334334_1_22_W334_1_271012
79,79,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACR,334_1_18,314,314,1,1,334334_1_22_W334_1_271012
80,80,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACR,334_1_18,315,315,1,1,334334_1_22_W334_1_271012
81,81,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACR,334_1_18,322,322,1,1,334334_1_22_W334_1_271012
82,82,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACR,334_1_18,325,325,1,1,334334_1_22_W334_1_271012
83,83,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACR,334_1_18,332,332,1,1,334334_1_22_W334_1_271012
84,84,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACR,334_1_18,335,335,1,1,334334_1_22_W334_1_271012
85,85,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACR,334_1_18,416,416,1,1,334334_1_22_W334_1_271012
86,86,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACR,334_1_18,417,417,1,1,334334_1_22_W334_1_271012
87,87,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACR,334_1_18,418,418,1,1,334334_1_22_W334_1_271012
88,88,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACR,334_1_18,427,427,1,1,334334_1_22_W334_1_271012
89,89,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACR,334_1_18,428,428,1,1,334334_1_22_W334_1_271012
90,90,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACR,334_1_18,431,431,1,1,334334_1_22_W334_1_271012
91,91,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACR,334_1_18,436,436,1,1,334334_1_22_W334_1_271012
92,92,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACR,334_1_18,438,438,1,1,334334_1_22_W334_1_271012
93,93,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACR,334_1_18,511,511,1,1,334334_1_22_W334_1_271012
94,94,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACR,334_1_18,511,511,2,2,334334_1_22_W334_1_271012
95,95,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACR,334_1_18,521,521,1,1,334334_1_22_W334_1_271012
96,96,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACR,334_1_18,532,532,1,1,334334_1_22_W334_1_271012
97,97,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACR,334_1_18,611,611,1,1,334334_1_22_W334_1_271012
98,98,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ADS,334_1_27,101,101,1,1,334334_1_22_W334_1_271012
99,99,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ADS,334_1_27,101,101,2,2,334334_1_22_W334_1_271012

In [ ]:
df2 = textbooks_clean_df.copy()

In [ ]:
df2 = df2.reset_index()

In [ ]:
df2.rename({"index": "textbooks_unique_id"}, axis=1).head(2)

In [ ]:
# df2 = df2.drop(["campus_id", "term_id", "department_id", "course_id", "section_id"], axis=1)

In [ ]:
vc(df2["book_id"])

In [ ]:
df2

In [ ]:
j_df = pd.concat([courses_clean_df[]]

In [ ]:
j_df = to_csv("junction.csv", encoding=True)