In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_rows', 500)

FUNCTIONS

In [3]:
def basic_clean(a_df):
    '''Performs initial cleaning of df '''
    
    a_df = a_df.drop_duplicates(keep="first")
    
    return a_df

In [4]:
def all_caps(a_df, a_list):
    '''Renders string df columns in supplied list in all caps'''
    
    for col in a_list:
        a_df[col] = a_df[col].str.upper()
        
    return a_df

In [5]:
def vc(a_ser):
    '''Return value_counts().to_frame() for a pandas series'''
    
    return a_ser.value_counts().to_frame()

COURSES

In [6]:
filepath1 = "../BILL_PROJ2_FILES/BNCollegeCourses_2022-02-05.csv"

In [7]:
df1 = basic_clean(pd.read_csv(filepath1, encoding="Utf-8", low_memory=False))

In [8]:
df1.sample(50)

,university,store_id,catalog_id,campus,campus_id,term,term_id,department,department_id,course,course_id,section,section_id,scanDate
220285,Temple University,NaN,NaN,Temple University Main Campus,693,Spring 2022,693_1_22_W,PSY,693_1_365,3223,3223,002,002,2022-02-05 09:46:58
136864,Kent State University Kent Campus,10585.0,NaN,"Kent, Geauga, Twinsburg & Podiatric Campus",8152,FALL 2021,8152_1_21_F,NURS,8152_1_605,70620,70620,002,002,2022-02-05 09:46:58
437309,West Virginia University at Morgantown,9790.0,NaN,West Virginia University Official Bookstore,583,SPRING 2022,583_583_22_W,PSYC,583_583_540,497,497,008,008,2022-02-05 09:46:58
525856,Florida International University,21551.0,10001.0,FIU - Maidique Campus & All Online Courses,19956951,SUMMER 2022,107485372,CHS,107485466,4533C,107487171,U01C,107482904,2022-02-05 09:46:58
291098,University of Kentucky,10680.0,NaN,UK Official Bookstore,8159,Spring '22,8159_1_22_W,A-S,8159_1_16,630,630,004,004,2022-02-05 09:46:58
378611,Wayne State University,9766.0,NaN,Official Online Store of Wayne State University,740,Winter 2022,740_1_22_W,ARB,740_1_422,1020,1020,21139,21139,2022-02-05 09:46:58
174742,Rowan University,9629.0,NaN,Rowan University Official Bookstore,619,Spring 2022,619_1_22_W,ECE,619_1_240,09425,09425,1,1,2022-02-05 09:46:58
53539,Indiana University Bloomington,NaN,NaN,Indiana University Bloomington Official Bookstore,632,Fall 2021,632_632_21_F,PSY-P,632_632_359,329,329,21871,21871,2022-02-05 09:46:58
338065,UPenn,9740.0,NaN,University of Pennsylvania Official Bookstore,314,Fall 2021,314_1_21_F,DRST,314_1_54,741,741,054,054,2022-02-05 09:46:58
462514,University of North Carolina at Charlotte,9731.0,NaN,University of North Carolina at Charlotte Offi...,276,Fall 2022,276_1_22_F,ARCH,276_1_150,4201,4201,002,002,2022-02-05 09:46:58
415883,University of North Texas,NaN,NaN,University of North Texas Official Bookstore,8085,SPRING 2022,8085_1_22_W,MDSE,8085_1_515,4250,4250,303(8535),303(8535),2022-02-05 09:46:58
366259,University of Mississippi,9567.0,NaN,University of Mississippi Official Bookstore,317,Spring 2022,317_1_22_W,REL,317_1_214,386,386,WEB 1,WEB 1,2022-02-05 09:46:58
409880,George Mason University,NaN,NaN,Fairfax/Sci Tech Campus,366,Summer 2022,366_366_22_A,TOUR,366_366_953,241,241,001,001,2022-02-05 09:46:58
338736,UPenn,9740.0,NaN,University of Pennsylvania Official Bookstore,314,Fall 2021,314_1_21_F,EDUC,314_1_252,512,512,001,001,2022-02-05 09:46:58
69599,Indiana University Bloomington,NaN,NaN,Indiana University Bloomington Official Bookstore,632,Spring 2022,632_632_22_W,SPEA-V,632_632_388,346,346,4418,4418,2022-02-05 09:46:58
526455,Florida International University,21551.0,10001.0,FIU - Maidique Campus & All Online Courses,19956951,SUMMER 2022,107485372,EEL,107485569,4213,107487058,U01A,107482992,2022-02-05 09:46:58
330416,University of North Carolina at Greensboro,NaN,NaN,University of North Carolina at Greensboro Off...,684,Spring 2022,684_1_22_W,ENS,684_1_114,348,348,04,04,2022-02-05 09:46:58
537400,Florida International University,21551.0,10001.0,FIU - Maidique Campus & All Online Courses,19956951,Spring 2022 Opt Out,107330925,STA,107331269,6167,107332093,U01,107328154,2022-02-05 09:46:58
14453,Boston University,9302.0,NaN,Barnes & Noble @ Boston University Official Bo...,480,Spring '22 Oncampus,480_1_22_W,CAS EN,480_1_58,326,326,A1,A1,2022-02-05 09:46:58
336092,UPenn,9740.0,NaN,University of Pennsylvania Official Bookstore,314,Fall 2021,314_1_21_F,CAMB,314_1_130,899,899,299,299,2022-02-05 09:46:58
198210,Stony Brook University (SUNY),10659.0,NaN,Shop Red West,8387,Spring 2022,8387_1_22_W,CHE,8387_1_165,589,589,T21,T21,2022-02-05 09:46:58
227161,Texas A & M University,9693.0,NaN,Texas A&M University Official Bookstore,572,Spring 2022,572_1_22_W,CVEN,572_1_132,303,303,502,502,2022-02-05 09:46:58
342551,UPenn,9740.0,NaN,University of Pennsylvania Official Bookstore,314,Fall 2021,314_1_21_F,MEAM,314_1_567,899,899,019,019,2022-02-05 09:46:58
7832,SUNY at Binghamton,9285.0,NaN,Binghamton University Official Bookstore,738,FALL 2021,738_738_21_F,BIOL,738_738_254,311,311,A0,A0,2022-02-05 09:46:58
29142,Clemson University,9338.0,NaN,Clemson University Official Bookstore,490,Spring 2022,490_1_22_W,PKSC,490_1_457,4990,4990,007,007,2022-02-05 09:46:58
531589,Florida International University,21551.0,10001.0,FIU - Maidique Campus & All Online Courses,19956951,Spring 2022 Opt Out,107330925,ECO,107331385,5709,107334957,U01,107323998,2022-02-05 09:46:58
226610,Texas A & M University,9693.0,NaN,Texas A&M University Official Bookstore,572,Spring 2022,572_1_22_W,COSC,572_1_119,691,691,603,603,2022-02-05 09:46:58
451205,Washington State University,9787.0,NaN,WSU - Pullman Campus,50,Spring '22 Pullman,50_1_22_W,VET_MED,50_1_646,616,616,01,01,2022-02-05 09:46:58
108137,Northeastern University,9543.0,NaN,Northeastern University Official Bookstore,656,Fall Semester 2021,656_1_21_F,CS,656_1_221,5520,5520,19253,19253,2022-02-05 09:46:58
386081,College of Charleston,NaN,NaN,College of Charleston Official Bookstore,421,Spring 2022,421_1_22_W,ACCT,421_1_20,499B,499B,01,01,2022-02-05 09:46:58
115905,Northeastern University,9543.0,NaN,Northeastern University Official Bookstore,656,Spring Semest. 2022,656_1_22_W,ARCH,656_1_48,7140,7140,35629,35629,2022-02-05 09:46:58
507975,Florida International University,21551.0,10001.0,FIU - Biscayne Bay Campus,19956949,FALL 2022,107903976,REL,107904616,3308,107914983,B53,107895054,2022-02-05 09:46:58
77654,Indiana Univ-Purdue Un Indianapolis,9456.0,NaN,Barnes & Noble @ IUPUI Official Bookstore,631,Spring 2022,631_1_22_W,NURS-R,631_1_269,615,615,24957,24957,2022-02-05 09:46:58
283600,University of Kentucky,10680.0,NaN,UK Official Bookstore,8159,Fall 21,8159_1_21_F,LIN,8159_1_496,695,695,006,006,2022-02-05 09:46:58
37550,Illinois State University,9446.0,NaN,Illinois State University Official Bookstore,246,Spring 2022,246_1_22_W,ENG,246_1_80,400,400,006,006,2022-02-05 09:46:58
467476,University of North Carolina at Charlotte,9731.0,NaN,University of North Carolina at Charlotte Offi...,276,Fall 2022,276_1_22_F,RELS,276_1_900,2000,2000,002,002,2022-02-05 09:46:58
245827,UCI Bookstore – The Hill,10673.0,NaN,The UC Irvine Official Online Store,8206,Winter - 2022,8206_1_22_W,EDUC,8206_1_297,199,199,12499,12499,2022-02-05 09:46:58
443724,West Virginia University at Morgantown,9790.0,NaN,West Virginia University Official Bookstore,583,Fall 2022,583_583_22_F,SM,583_583_599,345,345,701,701,2022-02-05 09:46:58
409714,George Mason University,NaN,NaN,Fairfax/Sci Tech Campus,366,Summer 2022,366_366_22_A,RUSS,366_366_860,202,202,A01,A01,2022-02-05 09:46:58
458023,University of North Carolina at Charlotte,9731.0,NaN,University of North Carolina at Charlotte Offi...,276,Spring 2022,276_1_22_W,KNES,276_1_625,6490,6490,002,002,2022-02-05 09:46:58
533137,Florida International University,21551.0,10001.0,FIU - Maidique Campus & All Online Courses,19956951,Spring 2022 Opt Out,107330925,GLY,107331092,1010,107333876,R7WW,107323503,2022-02-05 09:46:58
185166,Rutgers University,NaN,NaN,Barnes & Noble at Rutgers University Newark Ca...,409,Spring 22,409_1_22_W,920,409_1_780,381,381,90,90,2022-02-05 09:46:58
345151,UPenn,9740.0,NaN,University of Pennsylvania Official Bookstore,314,Fall 2021,314_1_21_F,PLSH,314_1_13,505,505,680,680,2022-02-05 09:46:58
259020,UCI Bookstore – The Hill,10673.0,NaN,The UC Irvine Official Online Store,8206,Spring - 2022,8206_1_22_S,HISTORY,8206_1_441,194,194,26930,26930,2022-02-05 09:46:58
78590,Indiana Univ-Purdue Un Indianapolis,9456.0,NaN,Barnes & Noble @ IUPUI Official Bookstore,631,Spring 2022,631_1_22_W,POLS-Y,631_1_297,498,498,23052,23052,2022-02-05 09:46:58
317020,University of Maryland College Park,NaN,NaN,University of Maryland College Park Official B...,370,SPRING 2022,370_370_22_W,IDEA,370_370_389,258D,258D,0101,0101,2022-02-05 09:46:58
229998,Texas A & M University,9693.0,NaN,Texas A&M University Official Bookstore,572,Spring 2022,572_1_22_W,FIVS,572_1_188,481,481,900,900,2022-02-05 09:46:58
313300,University of Maryland College Park,NaN,NaN,University of Maryland College Park Official B...,370,SPRING 2022,370_370_22_W,BSOS,370_370_90,399,399,0301,0301,2022-02-05 09:46:58
215781,Temple University,NaN,NaN,Temple University Main Campus,693,Spring 2022,693_1_22_W,CTE,693_1_61,4324,4324,701,701,2022-02-05 09:46:58
426201,University of North Texas,NaN,NaN,University of North Texas Official Bookstore,8085,ALL SUMMER TERMS,8085_1_22_A,PSCI,8085_1_680,2306,2306,002(4610),002(4610),2022-02-05 09:46:58

In [9]:
df1.dropna(axis=0, subset=["university", "term", "department", "course", "section"], how="any")

,university,store_id,catalog_id,campus,campus_id,term,term_id,department,department_id,course,course_id,section,section_id,scanDate
0,Ball State University,9301.0,NaN,Ball State University Official Bookstore,334,SPRING 2022,334_1_22_W,ACC,334_1_9,200,200,1,1,2022-02-05 09:46:58
1,Ball State University,9301.0,NaN,Ball State University Official Bookstore,334,SPRING 2022,334_1_22_W,ACC,334_1_9,201,201,01,01,2022-02-05 09:46:58
2,Ball State University,9301.0,NaN,Ball State University Official Bookstore,334,SPRING 2022,334_1_22_W,ACC,334_1_9,201,201,02,02,2022-02-05 09:46:58
3,Ball State University,9301.0,NaN,Ball State University Official Bookstore,334,SPRING 2022,334_1_22_W,ACC,334_1_9,201,201,03,03,2022-02-05 09:46:58
4,Ball State University,9301.0,NaN,Ball State University Official Bookstore,334,SPRING 2022,334_1_22_W,ACC,334_1_9,201,201,04,04,2022-02-05 09:46:58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
538044,Florida International University,21551.0,10001.0,FIU - Maidique Campus & All Online Courses,19956951,FALL 2022,107903977,PHC,107904486,6328,107916807,RVC,107902500,2022-02-05 09:46:58
538045,Florida International University,21551.0,10001.0,FIU - Maidique Campus & All Online Courses,19956951,FALL 2022,107903977,PHC,107904486,6104C,107916813,RXD,107902492,2022-02-05 09:46:58
538046,Florida International University,21551.0,10001.0,FIU - Maidique Campus & All Online Courses,19956951,FALL 2022,107903977,PHC,107904486,6102,107916814,RXD,107902491,2022-02-05 09:46:58
538047,Florida International University,21551.0,10001.0,FIU - Maidique Campus & All Online Courses,19956951,FALL 2022,107903977,PHC,107904486,6102,107916814,RVC,107902490,2022-02-05 09:46:58
538048,Florida International University,21551.0,10001.0,FIU - Maidique Campus & All Online Courses,19956951,FALL 2022,107903977,PHC,107904486,6099,107916815,U01,107902375,2022-02-05 09:46:58

In [10]:
df1 = df1.drop(["store_id", "catalog_id", "scanDate", "campus"], axis=1)

In [11]:
df1

,university,campus_id,term,term_id,department,department_id,course,course_id,section,section_id
0,Ball State University,334,SPRING 2022,334_1_22_W,ACC,334_1_9,200,200,1,1
1,Ball State University,334,SPRING 2022,334_1_22_W,ACC,334_1_9,201,201,01,01
2,Ball State University,334,SPRING 2022,334_1_22_W,ACC,334_1_9,201,201,02,02
3,Ball State University,334,SPRING 2022,334_1_22_W,ACC,334_1_9,201,201,03,03
4,Ball State University,334,SPRING 2022,334_1_22_W,ACC,334_1_9,201,201,04,04
...,...,...,...,...,...,...,...,...,...,...
538044,Florida International University,19956951,FALL 2022,107903977,PHC,107904486,6328,107916807,RVC,107902500
538045,Florida International University,19956951,FALL 2022,107903977,PHC,107904486,6104C,107916813,RXD,107902492
538046,Florida International University,19956951,FALL 2022,107903977,PHC,107904486,6102,107916814,RXD,107902491
538047,Florida International University,19956951,FALL 2022,107903977,PHC,107904486,6102,107916814,RVC,107902490
538048,Florida International University,19956951,FALL 2022,107903977,PHC,107904486,6099,107916815,U01,107902375

In [12]:
df1 = all_caps(df1, ["university", "term", "department", "course", "course_id", "section"])

In [13]:
df1

,university,campus_id,term,term_id,department,department_id,course,course_id,section,section_id
0,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,200,200,1,1
1,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,201,201,01,01
2,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,201,201,02,02
3,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,201,201,03,03
4,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,201,201,04,04
...,...,...,...,...,...,...,...,...,...,...
538044,FLORIDA INTERNATIONAL UNIVERSITY,19956951,FALL 2022,107903977,PHC,107904486,6328,107916807,RVC,107902500
538045,FLORIDA INTERNATIONAL UNIVERSITY,19956951,FALL 2022,107903977,PHC,107904486,6104C,107916813,RXD,107902492
538046,FLORIDA INTERNATIONAL UNIVERSITY,19956951,FALL 2022,107903977,PHC,107904486,6102,107916814,RXD,107902491
538047,FLORIDA INTERNATIONAL UNIVERSITY,19956951,FALL 2022,107903977,PHC,107904486,6102,107916814,RVC,107902490
538048,FLORIDA INTERNATIONAL UNIVERSITY,19956951,FALL 2022,107903977,PHC,107904486,6099,107916815,U01,107902375

In [14]:
vc(df1["term"])

                        term
SPRING 2022           287183
FALL 2021              67170
FALL 2022              19304
FALL 21                16880
WINTER - 2022          12627
SPRING '22             12417
WINTER 2022            12220
SUMMER 2022            11341
SPRING - 2022          10979
FALL SEMESTER 2021      9352
PANTHER BOOK PACK       9194
SPRING 2022 OPT OUT     8846
SPRING SEMEST. 2022     8631
SPRING 22               7170
SPRING '22 PULLMAN      4739
SPRING '22 ONCAMPUS     4711
SPRING TERM 2022        4379
SPRING 22 BKT BNDLE     4095
SPRING 2022 RES.        4039
ALL SUMMER TERMS        3793
MEDICAL SCHOOL 2021     2575
SPRING/SUMMER 2022      2356
WINTER QUARTER 2022     1468
FALL QUARTER 2021       1271
UCF SPRING 2022         1114
22SPDAY 1/3-4/24        1073
SPRING 22 TERM 3         839
SPRING '22 GLOBAL        716
SPRING 22 TERM 4         712
WSU SPRING 2022          625
FALL 21 SUPPLEMENT       443
21FALLS                  439
SPRING 22 SUPPLEMENT     416
21SPRGS                  410
WINTER INTERSESSION      381
SUMMER 22 TERM 5         337
VC SPRING 2022           317
SPRING22                 286
22DY03 (01/03-02/27      248
PROFESSIONAL 21/22       242
LAW SPRING - 2022        223
SEC SPRING TERM 22       220
WINTER 2021              220
FIRST SPRING 22          188
WINTER 22                179
1ST SPRING MOD 2022      162
WINTER '22               158
SPRING '22 EVERETT       151
SPRING 1 '22 ONLINE      129
2ND SPRING MOD 2022      124
WINTER SESSION 21-2       96
SPRING 2022 SEMESTE       90
SPRING TERM 3             81
SPRING TERM 4             71
WINTER SESSION 22         70
SPRING FULL TERM 22       60
MAYMESTER 2022            36
TROY PC SPRING T-3        35
22DY04 (2/28-4/24)        32
TROY PC SPRING T-4        28
SELF-PACED COURSES        22
WINTER '22 SFCC           22
21FALL2                   16
TROY PC SPRING 2022       14
21FALL1                   13
HIGH SCHOOL               13
SUMMER 22 SEMESTER        10
LATE SUMMER                8
21SPRG1                    8
FALL 22 TERM 1             2
PARALEGAL SPRING 22        1
FALL 22 SEMESTER           1

In [15]:
df1 = df1.loc[ (df1["term"].str.contains("SPRING"))  , :]

In [16]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 366147 entries, 0 to 538015
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   university     366147 non-null  object
 1   campus_id      366147 non-null  object
 2   term           366147 non-null  object
 3   term_id        366147 non-null  object
 4   department     366147 non-null  object
 5   department_id  366147 non-null  object
 6   course         366147 non-null  object
 7   course_id      366147 non-null  object
 8   section        366147 non-null  object
 9   section_id     366147 non-null  object
dtypes: object(10)
memory usage: 30.7+ MB

In [17]:
df1 = df1.reset_index(drop=True)

In [18]:
courses_clean_df = df1.copy()

In [19]:
courses_clean_df

,university,campus_id,term,term_id,department,department_id,course,course_id,section,section_id
0,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,200,200,1,1
1,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,201,201,01,01
2,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,201,201,02,02
3,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,201,201,03,03
4,BALL STATE UNIVERSITY,334,SPRING 2022,334_1_22_W,ACC,334_1_9,201,201,04,04
...,...,...,...,...,...,...,...,...,...,...
366142,UNIV OF NORTH CAROLINA CHAPEL HILL,75156912,SPRING 2022,106477925,PLCY,106477951,692H,106762678,003,106734657
366143,UNIV OF NORTH CAROLINA CHAPEL HILL,75156912,SPRING 2022,106477925,PLCY,106477951,692H,106762678,002,106734656
366144,UNIV OF NORTH CAROLINA CHAPEL HILL,75156912,SPRING 2022,106477925,PLCY,106477951,692H,106762678,001,106734655
366145,UNIV OF NORTH CAROLINA CHAPEL HILL,75156912,SPRING 2022,106477925,PLCY,106477951,710,106762680,001,106734675
366146,UNIV OF NORTH CAROLINA CHAPEL HILL,75156912,SPRING 2022,106477925,PLCY,106477951,760,106762683,001,106734678

In [20]:
courses_clean_df.to_csv("courses.csv", encoding="utf-8")

TEXTBOOKS

In [21]:
filepath2 = "../BILL_PROJ2_FILES/BNTextbook_2022-02-05.csv"

In [22]:
df2 = pd.read_csv(filepath2, encoding="utf-8", low_memory=False)

In [23]:
df2 = basic_clean(df2)

In [24]:
df2 = df2.drop(columns=["catalog_id", "scanDate", "book_url", "no_textbook_message"])

In [25]:
all_caps(df2, ["title", "edition", "publisher", "book_type", "book_id", "recommend_type", "price"])

,store_id,campus_id,term_id,department_id,course_id,section_id,title,edition,publisher,book_type,book_id,recommend_type,ISBN,price
0,9301.0,334,334_1_22_W,334_1_9,200,1,CENGAGE UNLIMITED - ACCESS (1 SEMESTER),18,CENGAGE U,DIGITAL PURCHASE,MBS_5186058_DG,EBOOK OPTION,9.780358e+12,$119.99
1,9301.0,334,334_1_22_W,334_1_9,201,01,FINANCIAL ACCOUNTING: INFORMATION FOR DECISION...,10TH 21,MCG CUSTOM,NEW PRINT,MBS_5780024_NEW,REQUIRED,9.781264e+12,$107.90
2,9301.0,334,334_1_22_W,334_1_9,201,02,FINANCIAL ACCOUNTING: INFORMATION FOR DECISION...,10TH 21,MCG CUSTOM,NEW PRINT,MBS_5780024_NEW,REQUIRED,9.781264e+12,$107.90
3,9301.0,334,334_1_22_W,334_1_9,201,03,FINANCIAL ACCOUNTING: INFORMATION FOR DECISION...,10TH 21,MCG CUSTOM,NEW PRINT,MBS_5780024_NEW,REQUIRED,9.781264e+12,$107.90
4,9301.0,334,334_1_22_W,334_1_9,201,04,FINANCIAL ACCOUNTING: INFORMATION FOR DECISION...,10TH 21,MCG CUSTOM,NEW PRINT,MBS_5780024_NEW,REQUIRED,9.781264e+12,$107.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
992670,88196.0,75156912,106477925,106757452,106762860,106737761,BIOL 252 LAB PRINTED ACCESS CODE,W21,VAN-GRINER,BUY NEW,550036485535,REQUIRED,9.781646e+12,$45.60
992671,88196.0,75156912,106477925,106757452,106762860,106737762,BIOL 252 LAB PRINTED ACCESS CODE,W21,VAN-GRINER,BUY NEW,550036485535,REQUIRED,9.781646e+12,$45.60
992672,88196.0,75156912,106477925,106757452,106762860,106737763,BIOL 252 LAB PRINTED ACCESS CODE,W21,VAN-GRINER,BUY NEW,550036485535,REQUIRED,9.781646e+12,$45.60
992673,88196.0,75156912,106477925,106757452,106762860,106737764,BIOL 252 LAB PRINTED ACCESS CODE,W21,VAN-GRINER,BUY NEW,550036485535,REQUIRED,9.781646e+12,$45.60
992674,88196.0,75156912,106477925,106757452,106762860,106737765,BIOL 252 LAB PRINTED ACCESS CODE,W21,VAN-GRINER,BUY NEW,550036485535,REQUIRED,9.781646e+12,$45.60

In [26]:
df2.dropna(axis=0, subset=["title", "ISBN", "price", "department_id", "course_id", "section_id"], how="any")

,store_id,campus_id,term_id,department_id,course_id,section_id,title,edition,publisher,book_type,book_id,recommend_type,ISBN,price
0,9301.0,334,334_1_22_W,334_1_9,200,1,CENGAGE UNLIMITED - ACCESS (1 SEMESTER),18,CENGAGE U,DIGITAL PURCHASE,MBS_5186058_DG,EBOOK OPTION,9.780358e+12,$119.99
1,9301.0,334,334_1_22_W,334_1_9,201,01,FINANCIAL ACCOUNTING: INFORMATION FOR DECISION...,10TH 21,MCG CUSTOM,NEW PRINT,MBS_5780024_NEW,REQUIRED,9.781264e+12,$107.90
2,9301.0,334,334_1_22_W,334_1_9,201,02,FINANCIAL ACCOUNTING: INFORMATION FOR DECISION...,10TH 21,MCG CUSTOM,NEW PRINT,MBS_5780024_NEW,REQUIRED,9.781264e+12,$107.90
3,9301.0,334,334_1_22_W,334_1_9,201,03,FINANCIAL ACCOUNTING: INFORMATION FOR DECISION...,10TH 21,MCG CUSTOM,NEW PRINT,MBS_5780024_NEW,REQUIRED,9.781264e+12,$107.90
4,9301.0,334,334_1_22_W,334_1_9,201,04,FINANCIAL ACCOUNTING: INFORMATION FOR DECISION...,10TH 21,MCG CUSTOM,NEW PRINT,MBS_5780024_NEW,REQUIRED,9.781264e+12,$107.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
992670,88196.0,75156912,106477925,106757452,106762860,106737761,BIOL 252 LAB PRINTED ACCESS CODE,W21,VAN-GRINER,BUY NEW,550036485535,REQUIRED,9.781646e+12,$45.60
992671,88196.0,75156912,106477925,106757452,106762860,106737762,BIOL 252 LAB PRINTED ACCESS CODE,W21,VAN-GRINER,BUY NEW,550036485535,REQUIRED,9.781646e+12,$45.60
992672,88196.0,75156912,106477925,106757452,106762860,106737763,BIOL 252 LAB PRINTED ACCESS CODE,W21,VAN-GRINER,BUY NEW,550036485535,REQUIRED,9.781646e+12,$45.60
992673,88196.0,75156912,106477925,106757452,106762860,106737764,BIOL 252 LAB PRINTED ACCESS CODE,W21,VAN-GRINER,BUY NEW,550036485535,REQUIRED,9.781646e+12,$45.60
992674,88196.0,75156912,106477925,106757452,106762860,106737765,BIOL 252 LAB PRINTED ACCESS CODE,W21,VAN-GRINER,BUY NEW,550036485535,REQUIRED,9.781646e+12,$45.60

In [29]:
df2 = df2.reset_index(drop=True)

In [27]:
vc(df2["book_type"])

                   book_type
NEW PRINT             176916
USED PRINT            137171
NEW PRINT RENTAL       99688
USED PRINT RENTAL      98007
DIGITAL PURCHASE       28571
BUY NEW                22884
BUY USED               16150
DIGITAL RENTAL         15088
RENT NEW               12781
RENT USED              12536
BUY DIGITAL            10627
COURSE MATERIAL         6042
RENT ONLY               4452
RENT DIGITAL            4342

In [30]:
df2 = df2.loc[ (df2["book_type"].str.contains("NEW") | df2["book_type"].str.contains("DIGITAL"))  , :]

In [31]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 370897 entries, 0 to 990726
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   store_id        250056 non-null  float64
 1   campus_id       370897 non-null  object
 2   term_id         370897 non-null  object
 3   department_id   370897 non-null  object
 4   course_id       370897 non-null  object
 5   section_id      370897 non-null  object
 6   title           370897 non-null  object
 7   edition         362369 non-null  object
 8   publisher       370634 non-null  object
 9   book_type       370897 non-null  object
 10  book_id         370897 non-null  object
 11  recommend_type  367977 non-null  object
 12  ISBN            370670 non-null  float64
 13  price           370897 non-null  object
dtypes: float64(2), object(12)
memory usage: 42.4+ MB

In [32]:
df2 = df2.drop(columns=["store_id"])

In [33]:
df2 = df2.astype({"ISBN": "str"})

In [34]:
df2[["recommend_type", "edition", "publisher", "ISBN"]] =\
    df2[["recommend_type", "edition", "publisher", "ISBN"]].fillna("unknown")

In [35]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 370897 entries, 0 to 990726
Data columns (total 13 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   campus_id       370897 non-null  object
 1   term_id         370897 non-null  object
 2   department_id   370897 non-null  object
 3   course_id       370897 non-null  object
 4   section_id      370897 non-null  object
 5   title           370897 non-null  object
 6   edition         370897 non-null  object
 7   publisher       370897 non-null  object
 8   book_type       370897 non-null  object
 9   book_id         370897 non-null  object
 10  recommend_type  370897 non-null  object
 11  ISBN            370897 non-null  object
 12  price           370897 non-null  object
dtypes: object(13)
memory usage: 39.6+ MB

In [36]:
df2["ISBN"] = df2["ISBN"].str.rstrip(".0")

In [37]:
df2["price"] = df2["price"].str.lstrip("$")

In [38]:
df2["price"] = df2["price"].str.replace(",", "", regex=False)

In [50]:
df2["price"] = df2["price"].str.replace("PRICE NOT YET AVAILABLE**", "0.00", regex=False)

In [51]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 370897 entries, 0 to 990726
Data columns (total 13 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   campus_id       370897 non-null  object
 1   term_id         370897 non-null  object
 2   department_id   370897 non-null  object
 3   course_id       370897 non-null  object
 4   section_id      370897 non-null  object
 5   title           370897 non-null  object
 6   edition         370897 non-null  object
 7   publisher       370897 non-null  object
 8   book_type       370897 non-null  object
 9   book_id         370897 non-null  object
 10  recommend_type  370897 non-null  object
 11  ISBN            370897 non-null  object
 12  price           370897 non-null  object
dtypes: object(13)
memory usage: 39.6+ MB

In [52]:
vc(df2["price"])

        price
6.95     5327
44.99    3712
74.99    3520
17.00    3228
11.55    2883
...       ...
134.65      1
193.50      1
131.60      1
166.12      1
37.92       1

[11385 rows x 1 columns]

In [53]:
df2["price"] = df2["price"].apply(lambda x: float(x))

In [54]:
df2 = df2.rename(columns={"ISBN": "isbn"})

In [55]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 370897 entries, 0 to 990726
Data columns (total 13 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   campus_id       370897 non-null  object
 1   term_id         370897 non-null  object
 2   department_id   370897 non-null  object
 3   course_id       370897 non-null  object
 4   section_id      370897 non-null  object
 5   title           370897 non-null  object
 6   edition         370897 non-null  object
 7   publisher       370897 non-null  object
 8   book_type       370897 non-null  object
 9   book_id         370897 non-null  object
 10  recommend_type  370897 non-null  object
 11  isbn            370897 non-null  object
 12  price           370897 non-null  float64
dtypes: float64(1), object(12)
memory usage: 39.6+ MB

In [56]:
df2.sample(50)

,campus_id,term_id,department_id,course_id,section_id,title,edition,publisher,book_type,book_id,recommend_type,isbn,price
320327,330,330_1_22_W,330_1_174,102,397,HOW SHOULD WE THEN LIVE?,05,GOOD NEWS,NEW PRINT,MBS_709900_NEW,REQUIRED,978158134536,12.14
498769,204,204_1_22_W,204_1_425,3033,01,TEN THEORIES OF RELIGION,4TH 21,OXF,NEW PRINT RENTAL,MBS_6329463_NEW,REQUIRED,9780190935085,54.85
212314,684,684_1_22_W,684_1_110,104,01,THRALL: POEMS,12,HARP PUB,NEW PRINT,MBS_1902632_NEW,REQUIRED,9780544586208,15.99
958018,19956951,107485372,107485573,107546218,107545677,COST ACCOUNTING-MYLAB ACCOUNTING ACCESS,17TH 21,PEARSON,BUY DIGITAL,500048703003,REQUIRED,9780135628522,126.65
771174,707,707_1_22_W,707_1_260,C1102,054,WEALTH OF NATIONS,00,PENG RAND,NEW PRINT RENTAL,MBS_491244_NEW,REQUIRED,9780679783367,10.90
120465,490,490_1_22_W,490_1_469,4500,003,SPIRIT OF THE LAWS,89,CAMB,NEW PRINT,MBS_138184_NEW,REQUIRED,9780521369749,41.99
171302,246,246_1_22_W,246_1_189,372,002,HAPPINESS EFFECT: HOW SOCIAL MEDIA IS DRIVING ...,17,OXF,DIGITAL RENTAL,MBS_5627415_DG,REQUIRED,9780190239855,10.00
909763,19956951,107330925,107331352,107331961,107324379,FUND.LAB.APPR.F/BIOCHEMISTRY+. ..,2ND 10,WILEY,BUY NEW,500053869782,RECOMMENDED,9780470087664,122.02
374528,396,396_1_22_W,396_1_210,1212,011,CONNECTING CLASSROOM TO BENCH. >CUSTOM<,6TH 21,HAYDEN-MCN,NEW PRINT,396_844013110_NEW,REQUIRED,9781533937773,62.40
38346,738,738_738_22_W,738_738_282,564,02,CONVEX OPTIMIZATION,04,CAMB CC,DIGITAL PURCHASE,MBS_2091145_DG,RECOMMENDED,9781107385924,82.00
793947,327,327_1_22_W,327_1_399,4286,W165,STRENGTHSFINDER 2.0 - WITH SEALED ACCESS,07,S+S,NEW PRINT,MBS_810884_NEW,REQUIRED,9781595620156,39.99
343066,8152,8152_1_22_W,8152_1_250,40402,002,"NEXT STEP IN GUIDED READING, GRADES K-8",16,SCHOLASTIC,NEW PRINT RENTAL,MBS_1942234_NEW,REQUIRED,9781338161113,35.35
465002,204,204_1_22_W,204_1_215,4103,202,PRINCIPLES OF APPLIED BEHAVIOR ANALYSIS FOR BE...,2ND 20,SLOAN PUB,NEW PRINT,MBS_1217709_NEW,REQUIRED,9781597380393,39.00
182123,8011,8011_1_22_W,8011_1_400,108,80,PRINCIPLES OF LANGUAGE LEARNING AND TEACHING: ...,6TH 14,PEARSON,NEW PRINT RENTAL,MBS_1435776_NEW,REQUIRED,9780133041941,59.20
364323,8152,8152_1_22_W,8152_1_605,43001,490,HEALTH PROMOTION THROUGHOUT THE LIFE SPAN,9TH 18,ELSEV COUR,DIGITAL RENTAL,MBS_2251984_DG,EBOOK OPTION,8220107293002,32.40
608391,240,240_1_22_W,240_1_620,402,001,ALL YOU NEED TO KNOW ABOUT THE MUSIC BUSINESS,10TH 19,S+S,NEW PRINT RENTAL,MBS_2304389_NEW,REQUIRED,9781501122187,23.80
543779,240,240_1_22_W,240_1_255,333,032,ORGANIC CHEMISTRY,9TH 17,PEARSON,NEW PRINT,MBS_1771953_NEW,REQUIRED,9780321971371,346.65
365459,693,693_1_22_W,693_1_190,0851,043,EPIC OF GILGAMESH,99,PENG RAND,NEW PRINT RENTAL,MBS_474258_NEW,WAIT FOR CLASS,9780140449198,10.90
451072,572,572_1_22_W,572_1_99,656,601,ADVANCED OPTIMIZATION FOR PROCESS SYSTEMS ENGI...,21,CAMB,NEW PRINT RENTAL,MBS_6490026_NEW,REQUIRED,9781108831659,79.65
886469,27695107,107004589,107004734,107010550,106999851,GATEWAYS TO ART,3RD,NORTON,BUY NEW,550036947784,REQUIRED,9780500843772,54.78
570098,240,240_1_22_W,240_1_470,121,001,GENKI I: INTEGRATED COURSE ELEMENTARY JAPANESE,3RD 20,KINOKUNIYA,NEW PRINT RENTAL,MBS_2348269_NEW,REQUIRED,9784789017305,35.35
245171,684,684_1_22_W,684_1_330,313,01,CRIME AND PUNISHMENT (NEW TRANSLATION),18,NORTON,NEW PRINT RENTAL,MBS_2257768_NEW,REQUIRED,9781631495311,13.55
648196,619,619_1_22_W,619_1_458,00350,2,CHANGING FOR GOOD,94,HARP PUB,NEW PRINT RENTAL,MBS_246962_NEW,REQUIRED,9780380725724,10.20
924606,19956951,107330925,107331086,107334674,107322594,STRAT.F/TEACH.LEARNERS W/SPEC..W/ACCESS,11TH 18,PEARSON,BUY NEW,500030565191,REQUIRED,9780134577753,124.79
15640,334,334_1_22_W,334_1_727,330,04,CODE OF ETHICS FOR NURSES WITH INTERPRETATIVE ...,15,AM NURSES,NEW PRINT,MBS_1667756_NEW,REQUIRED,9781558105997,35.31
44736,738,738_738_22_W,738_738_472,473M,01,FOUNDATIONS OF BEHAVIORAL NEUROSCIENCE,9TH 14,PEARSON CO,DIGITAL RENTAL,MBS_1866234_DG,EBOOK OPTION,8220100798856,49.99
349527,8152,8152_1_22_W,8152_1_405,66749,002,ASSESSING STUDENT LEARNING,3RD 18,WILEY,NEW PRINT RENTAL,MBS_2124132_NEW,REQUIRED,9781119426936,31.30
224356,336,336_1_22_W,336_1_75,1412,21500,CODES GUIDEBOOK FOR INTERIORS,7TH 18,WILEY,NEW PRINT RENTAL,MBS_2094994_NEW,REQUIRED,9781119343196,88.10
808290,327,327_1_22_W,327_1_452,4342C,0001,VIDEOJOURNALISM,12,TAYLOR,NEW PRINT,MBS_1213176_NEW,WAIT FOR CLASS,978024081465,74.95
478772,572,572_1_22_W,572_1_171,481,902,UBIK,69,HARP PUB,NEW PRINT RENTAL,MBS_1284610_NEW,REQUIRED,9780547572291,10.85
261530,632,632_632_22_W,632_632_142,639,4628,MULTILEVEL ANALYSIS: INTRODUCTION TO BASIC AND...,2ND 12,SAGE,NEW PRINT RENTAL,MBS_1141750_NEW,REQUIRED,9781849202015,50.45
495939,436,436_436_22_W,436_436_115,151N,1,SOCIAL HISTORY OF AMERICAN TECHNOLOGY,2ND 18,OXF,NEW PRINT RENTAL,MBS_1891813_NEW,REQUIRED,9780195387261,44.20
650569,619,619_1_22_W,619_1_560,01122,4,COLLEGE ALGEBRA & TRIGONOMETRY - ALEKS 360 ACC...,17,MCG COURSE,DIGITAL PURCHASE,MBS_5520297_DG,EBOOK OPTION,8220115338344,119.81
44332,738,738_738_22_W,738_738_464,131,W3,LAB MANUAL F/ PHYS 121/131,unknown,SUNY B PHY,NEW PRINT,738_854024209_NEW,REQUIRED,2818540242099,73.80
949829,19956951,105160226,105160761,107023578,107018996,"MYSTICAL DIMENSIONS OF ISLAM,35TH ANNIV",11,LONGLEAF,RENT NEW,500053612231,RECOMMENDED,9780807899762,37.15
398798,396,396_1_22_W,396_1_670,3534,004,ACSM'S GUIDELINES FOR EXERCISE TESTING AND PRE...,11TH 22,LIPP/W+W,NEW PRINT RENTAL,MBS_6129332_NEW,REQUIRED,9781975150181,35.35
750401,53,53_53_22_W,53_53_28,372,40,SURVEY OF AUDIOLOGY: FUNDAMENTALS FOR AUDIOLOG...,3RD 19,SLACK,NEW PRINT,MBS_2355089_NEW,REQUIRED,9781630915032,89.43
222814,8075,8075_1_22_W,8075_1_140,261,19205,LITERACY'S BEGINNINGS,6TH 12,PEARSON,NEW PRINT RENTAL,MBS_1066614_NEW,REQUIRED,9780132617659,104.05
293797,631,631_1_22_W,631_1_205,22200,19062,TECHNICAL CALCULUS WITH ANALYTIC GEOMETRY,5TH 13,CENGAGE L,NEW PRINT,MBS_1210159_NEW,REQUIRED,9781133945192,237.50
817629,276,276_1_22_W,276_1_520,6150,U90,CONTEMPORARY ISSUES IN HEALTHCARE LAW AND ETHICS,4TH 14,IPG,NEW PRINT,MBS_1462506_NEW,REQUIRED,9781567936377,110.00
763749,327,327_1_22_W,327_1_238,3004C,0013,ELECTRIC CIRCUITS,11TH 19,PEARSON,NEW PRINT,MBS_2004352_NEW,REQUIRED,9780134746968,266.65
224402,336,336_1_22_W,336_1_75,2053,25481,ILLUSTRATED LIFE,08,S+S,NEW PRINT RENTAL,MBS_1026840_NEW,REQUIRED,9781600610868,17.70
234898,244,244_1_22_W,244_1_230,3100,14543,READINGS FOR DIVERSITY AND SOCIAL JUSTICE,4TH 18,TAYLOR,NEW PRINT,MBS_2121644_NEW,REQUIRED,9781138055285,69.95
906388,19956951,107330925,107331362,107332024,107321334,PRESTRESSED CONCRETE,19,SPRINGER,RENT NEW,500053871786,RECOMMENDED,9783319978819,97.35
20805,334,334_1_22_W,334_1_908,361,1A,IEPS: WRITING QUALITY INDIV. EDUCATION...,4TH 22,PEARSON CO,DIGITAL PURCHASE,MBS_6381898_DG,EBOOK OPTION,978013591582,75.00
855029,327,327_1_22_W,327_1_774,4080,0M06,EDUCATING ENGLISH LEARNERS: WHAT EVERY CLASSRO...,14,HEPG,NEW PRINT RENTAL,MBS_1512909_NEW,REQUIRED,9781612507194,24.65
745942,50D,50_1_22_S,50_1_273,302,01,TEXTS AND CONTEXTS: WRITING ABOUT LITERATURE W...,7TH 17,RENT PEARS,DIGITAL RENTAL,MBS_2307284_DG,REQUIRED,9780135571781,44.99
281360,289,289_1_22_W,289_1_170,665,010,INTRODUCTION TO COMPUTER SECURITY,05,PEARSON,NEW PRINT RENTAL,MBS_676085_NEW,REQUIRED,9780321247445,57.80
679862,366,366_366_22_W,366_366_460,677,001,"EVOLUTION OF AMERICAN ECOLOGY, 1890-2000",05,HOPKINS F,NEW PRINT,MBS_998585_NEW,RECOMMENDED,9780801890871,28.00
560552,240,240_1_22_W,240_1_405,365,008,LESSONS IN CORPORATE FINANCE: A CASE STUDIES A...,2ND 19,WILEY,NEW PRINT RENTAL,MBS_2233080_NEW,REQUIRED,978111953783,67.30

In [57]:
df2 = df2.reset_index(drop=True)

In [58]:
textbooks_clean_df = df2.copy()

In [59]:
textbooks_clean_df.to_csv("textbooks.csv", encoding="utf-8")